{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload a CSV file
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/mvp-nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Upload a CSV file of data asset descriptions
      </h1>

      <p>First, <a href="#" class="govuk-link">Download the CSV template</a> and add your data asset descriptions.</p>

      <p>Then upload the file, where it will be checked for errors.</p>

      <a href="/publish/csv/upload" class="govuk-button" data-module="govuk-button">
        Upload CSV file
      </a>

     

    </div>
  </div>
{% endblock %}
