<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    Related links and files
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a class="govuk-link" href="/khadija-authenticated/200-review-request">Request for data from department X</a>
      </li>
      <li>
        <a class="govuk-link" href="/khadija-authenticated/035-MoU">Draft checklist of issues to agree</a>
      </li>
      <li>
        <a class="govuk-link" href="/khadija-authenticated/035-collaborators">Manage collaborators</a>
      </li>
      <li>
        <a class="govuk-link" href="/khadija-authenticated/005-progress">Status report</a>
      </li>
      <li>
        <a class="govuk-link" href="/khadija-authenticated/035-share-instance">DS 13992 - index page</a>
      </li>
    </ul>

    <p>
      <a href="/khadija-authenticated/035-shares" class="govuk-!-font-weight-bold">All shares</a>
    </p>

  </nav>
</aside>

