
<button class="govuk-button" data-module="govuk-button" onclick="edit('{{ targetDiv }}')">
  Edit paragraph
</button>
<ul class="govuk-list">
  <li><a href="#save" class="govuk-link--no-visited-state" onclick="save('{{ targetDiv }}')">Save as draft</a></li>
  <li><a href="#edit" class="govuk-link--no-visited-state" onclick="edit('{{ targetDiv }}')">Add note</a></li>
  <li><a href="#cancel" class="govuk-link--no-visited-state" onclick="cancel('{{ targetDiv }}')">Cancel</a></li>
  <li><a href="#share" class="govuk-link--no-visited-state">Invite advisers</a></li>

</ul>

<button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="">+ Section</button>


