<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading" style="margin-top:0px;">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <div class="govuk-width-container">
  <ul class="app-navigation__list app-width-container">
      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/start?loggedin=true">
          Home
        </a>
      </li>
      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/find/find?signinRoute=Find">
          Find data assets
        </a>
      </li>

      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/learn/">
          Learn
        </a>
      </li>
  </ul>
  <ul class="app-navigation__list app-width-container" style="float: right;margin-right: -30px;">
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/secure/account">
        Account
      </a>
    </li>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/start?loggedin=false">
        Sign out
      </a>
    </li>
  </ul>
</div>
</nav>