{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }}
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/mvp-nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/bMVP_i1--280" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{% include "includes/request/request-id.html" %}</span>
            <h1 class="govuk-fieldset__heading">
              Will other organisations need access to this data?
            </h1>
          </legend>
          <div id="yes-hint" class="govuk-hint">
            For example: this is a joint project with another government department.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="otherOrgs-1" name="otherOrgs" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="otherOrgs-1">
                No, only my organisation needs access
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="otherOrgs-2" name="otherOrgs" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="otherOrgs-2">
                Yes, we are collaborating with other organisations
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" type="submit" data-module="govuk-button">
          Save and continue
        </button>
        <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button">
          Save and return
        </button>
      </div>
    </form>
  </div>
</div>


{% endblock %}
