{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Settings (DEV prototype)
    </h1>

    <p>As default an account has all permissions enabled. You can change this using the options below.</p>
    <p>Use the <a href="/manage-prototype/clear-data">clear data link</a> to revert to the default.</p>
    <br>

    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
    {% from "govuk/components/button/macro.njk" import govukButton %}

    <form action="/DEV/index" method="post" novalidate>

    {{ govukCheckboxes({
      name: "DEV_settings_permissions",
      values: data['DEV_settings_permissions'],
      formGroup: {
        classes: "hack_hide-last-checkbox"
      },
      fieldset: {
        legend: {
          text: "Permissions",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "add",
          text: "Add data descriptions"
        },
        {
          value: "review",
          text: "View received data share requests"
        },
        {
          value: "hack",
          text: "This options is hidden so the array never defaults back to what is set in the session-data-defaults.js file",
          classes: "govuk-visually-hidden"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and return"
    }) }}
    </form>
    
</div>

{% endblock %}

{% block footer %}
{% include "includes/backstage_footer.html" %}
{% endblock %}
