{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/nav_sign-out.html" %}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds" id="skip-target">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
       <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Keeping your information secure</h2>
       </div>
       <div class="govuk-notification-banner__content">
        <p class="govuk-body">Your Government Gateway user ID and password are for your team only. Do not share this information.</p>
       </div>
      </div>

      <h1 class="govuk-heading-l">Sign in using Government Gateway</h1>

      <form action="200-request-start" method="POST" id="loginForm">
      
       <div class="govuk-form-group"><label for="user_id" class="govuk-label" aria-describedby="user_id-hint">Government Gateway user ID</label>
        <div class="govuk-hint" id="user_id-hint">
         This could be up to 12 characters.
        </div> <input type="text" name="user_id" id="user_id" class="govuk-input govuk-!-width-one-half" value="" maxlength="22" aria-describedby="user_id-hint" autocomplete="username">
       </div>
       <div class="govuk-form-group"><label for="password" class="govuk-label">Password</label> <input type="password" name="password" id="password" class="govuk-input govuk-!-width-three-quarters" autocomplete="current-password">
       </div>
       <button type="submit" id="continue" class="govuk-button">Sign in</button>
      </form>

      <h2 class="govuk-heading-m">New users of Government Gateway</h2>
      <div class="govuk-body"><a class="govuk-link" id="no-account" href="/login/create-account" data-ga="Sign-In:Create-New-Account-Through-BAS:HMRC">Create departemental sign in details</a>
      </div>

      <h2 class="govuk-heading-m">Problems signing in</h2>
      <ul class="govuk-list">
       <li><a class="govuk-link" href="#" id="forgotten-password">I have forgotten my password</a></li>
       <li><a class="govuk-link" href="#" id="forgotten-user-id">I have forgotten my Government Gateway user ID</a></li>
       <li><a class="govuk-link" href="#" id="forgotten-user-id-password">I have forgotten my Government Gateway user ID and password</a></li>
      </ul>

     </div>

    </div>

    <div class="govuk-body govuk-!-margin-top-6"><a class="govuk-link" href="/help?referrerUrl=%2Flogin%2Fsignin%2Fcreds" id="getHelp">Get help with this page</a>
    </div>




{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}

{% endblock %}
