{% extends "layouts/main.html" %}

{% block pageTitle %}
  Publish Dashboard
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Department for Levelling Up, Housing and Communities published data descriptions
      </h1>
      <p>Here's where you manage your data descriptions. Each government department has their own page.</p>

      <a href="method" class="govuk-button" data-module="govuk-button">
        Add new data description
      </a>

    </div>
  </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <h2 class="govuk-heading-l">
            Your published metadata records
          </h2>


          <dl class="publish-metrics">
            <div class="publish-metric">
              <dt><h3 class="govuk-heading-m">Datasets</h3></dt>
              <dd><a href="/find/find?q=&organisationFilters=department-for-levelling-up-housing-and-communities&typesFilters=dataset&order=updated-newest&topicFilters=_unchecked&organisationFilters=_unchecked&typesFilters=_unchecked" class="govuk-link">1 dataset</a></dd>
            </div>
            <div class="publish-metric">
              <dt><h3 class="govuk-heading-m">Data services</h3></dt>
              <dd><a href="/find/find?q=&organisationFilters=department-for-levelling-up-housing-and-communities&typesFilters=dataservice&organisationFilters=department-for-levelling-up-housing-and-communities&order=updated-newest&topicFilters=_unchecked&organisationFilters=_unchecked&typesFilters=_unchecked" class="govuk-link">10 data service</a></dd>
            </div>
            <div class="publish-metric">
              <dt><h3 class="govuk-heading-m">Pending share requests</h3></dt>
              <dd><a href="/manage-shares/created-requests#pendingRequests" class="govuk-link">3 Data share requests</a></dd>
            </div>
            <div class="publish-metric">
              <dt><h3 class="govuk-heading-m">Submitted share requests</h3></dt>
              <dd><a href="/manage-shares/created-requests#submittedRequests" class="govuk-link">2 Data share requests</a></dd>
            </div>
            <div class="publish-metric">
              <dt><h3 class="govuk-heading-m">Completed data shares</h3></dt>
              <dd><a href="/manage-shares/created-requests#completedRequests" class="govuk-link">2 Completed data shares</a></dd>
            </div>
          </dl>

          <!-- Harvesters info to be added in later iterations -->
          <!-- <h2 class="app-task-list__section">
            Data Harvesters
          </h2>

          <table class="govuk-table" style="font-size: 18px;">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Title</th>
                <th class="govuk-table__header" scope="col">Last run date</th>
                <th class="govuk-table__header" scope="col">Completed runs</th>
                <th class="govuk-table__header" scope="col">Status</th>
                
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="record-1?error=no">Harvester</a>
                </td>
                <td class="govuk-table__cell">
                  dd-mm-yyyy
                </td>
                <td class="govuk-table__cell">
                  #123
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag">Active</strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="record-2?error=no">Harvester
                  </a>
                </td>
                <td class="govuk-table__cell">
                  dd-mm-yyyy
                </td>
                <td class="govuk-table__cell">
                  #123
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--blue">Paused</strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="record-3?error=no">Harvester</a>
                </td>
                <td class="govuk-table__cell">
                  dd-mm-yyyy
                </td>
                <td class="govuk-table__cell">
                  #123
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">Cancelled </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="record-4?error=no">Harvester</a>
                </td>
                <td class="govuk-table__cell">
                  dd-mm-yyyy
                </td>
                <td class="govuk-table__cell">
                  #123
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--red">Error </strong>
                </td>
              </tr>
            </tbody>
          </table> -->

    </div>
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
      <div class="gem-c-contextual-sidebar">
        <div class="gem-c-related-navigation">
          <h2 id="learnLinks" class="gem-c-related-navigation__main-heading">
            Learn
          </h2>
          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="learnLinks">
            <ul class="gem-c-related-navigation__link-list">
              
              <li class="gem-c-related-navigation__link">
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" href="/WIP/learn/articles/guidance-on-publish">Publishing data descriptions</a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" href="/WIP/learn/articles/metadata-model">Metadata sharing requirements</a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" href="/WIP/learn/articles/adding-a-single-data-asset">Adding a single data description</a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" href="/WIP/learn/articles/adding-a-CSV-file">Adding a collection of metadata records as a CSV file</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
