{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% set WIPconditionalURL = "/WIP/start?loggedin=" + data['loggedin'] %}
{% block header %}
    {{ govukHeader({
      homepageUrl: "/WIP/",
      serviceName: serviceName,
      serviceUrl: WIPconditionalURL,
      containerClasses: "govuk-width-container"
    }) }}
    {% include "includes/WIP_mvp-nav_conditional.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Organisations
    </h1>
    
    <h2 class="govuk-heading-m">Ministerial departments</h2>

    <ul class="gem-c-cards__list ">

            <li class="govuk-!-margin-bottom-5 govuk-!-margin-left-2 govuk-!-margin-right-2">
                <h4 class="gem-c-organisation-logo brand--department-for-education">
                    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/WIP/find/find?organisationFilters=department-for-education&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">
                        <span class="gem-c-organisation-logo__name">Department 
for Education</span>
                    </a>
                </h4>
            </li>

            <li class="govuk-!-margin-bottom-5 govuk-!-margin-left-2 govuk-!-margin-right-2">
                <h4 class="gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
                    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/WIP/find/find?organisationFilters=department-for-environment-food-rural-affairs&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">
                        <span class="gem-c-organisation-logo__name">Department
for Environment
Food &amp; Rural Affairs</span>
                    </a>
                </h4>
            </li>

            <li class="govuk-!-margin-bottom-5 govuk-!-margin-left-2 govuk-!-margin-right-2">
                <h4 class="gem-c-organisation-logo brand--department-for-levelling-up-housing-and-communities">
                    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/WIP/find/find?organisationFilters=department-for-levelling-up-housing-and-communities&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">
                        <span class="gem-c-organisation-logo__name">Department for Levelling Up,
Housing &amp; Communities
</span>
                    </a>
                </h4>
            </li>

            <li class="govuk-!-margin-bottom-5 govuk-!-margin-left-2 govuk-!-margin-right-2">
                <h4 class="gem-c-organisation-logo brand--department-for-transport">
                    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/WIP/find/find?organisationFilters=department-for-transport&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">
                        <span class="gem-c-organisation-logo__name">Department
for Transport</span>
                    </a>
                </h4>
            </li>

            <li class="govuk-!-margin-bottom-5 govuk-!-margin-left-2 govuk-!-margin-right-2">
                <h4 class="gem-c-organisation-logo brand--department-for-work-pensions">
                    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/WIP/find/find?organisationFilters=department-for-work-pensions&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">
                        <span class="gem-c-organisation-logo__name">Department
for Work &amp; 
Pensions</span>
                    </a>
                </h4>
            </li>

            <li class="govuk-!-margin-bottom-5 govuk-!-margin-left-2 govuk-!-margin-right-2">
                <h4 class="gem-c-organisation-logo brand--home-office">
                    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--ho brand__border-color" href="/WIP/find/find?organisationFilters=home-office&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">
                        <span class="gem-c-organisation-logo__name">Home Office</span>
                    </a>
                </h4>
            </li>

            <li class="govuk-!-margin-bottom-5 govuk-!-margin-left-2 govuk-!-margin-right-2">
                <h4 class="gem-c-organisation-logo brand--ministry-of-justice">
                    <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/WIP/find/find?organisationFilters=ministry-of-justice&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">
                        <span class="gem-c-organisation-logo__name">Ministry
of Justice</span>
                    </a>
                </h4>
            </li>

    </ul>

    <h2 class="govuk-heading-m">Non-ministerial departments</h2>

    <ul class="govuk-list datacat-row-of-threes">
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=hm-revenue-customs&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">HM Revenue &amp; Customs</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=land-registry&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">HM Land Registry</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=the-national-archives&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">The National Archives</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Executive non-departmental public bodies</h2>

    <ul class="govuk-list datacat-row-of-threes">
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=environment-agency&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Environment Agency</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=nhs-digital&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">NHS Digital</a>
      </li>
    </ul>



    
    
    <h2 class="govuk-heading-m">Executive agencies</h2>

    <ul class="govuk-list datacat-row-of-threes">
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=companies-house&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Companies House</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=driver-and-vehicle-licensing-agency&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Driver and Vehicle Licensing Agency</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=insolvency-service&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Insolvency Service</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=uk-hydrographic-office&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">UK Hydrographic Office</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Others</h2>

    <ul class="govuk-list datacat-row-of-threes">
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=bgs&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">British Geological Survey</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=buckinghamshire-council&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Buckinghamshire Council</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=cefas&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Centre for Environment, Fisheries and Aquaculture</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=government-digital-service&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Government Digital Service</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=local-government-association&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Local Government Association</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=london-borough-of-hackney&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">London Borough of Hackney</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=office-of-national-statistics&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Office for National Statistics</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=ordnance-survey&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Ordnance Survey</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=scottish-government&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Scottish Government</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=the-apprenticeship-service&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">The Apprenticeship Service</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=transport-for-london&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Transport for London</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=uk-police&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">UK Police</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=west-berkshire-council&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">West Berkshire Council</a>
      </li>
      <li class="organisations-list__item">
          <a class="govuk-link" href="/WIP/find/find?organisationFilters=west-midlands-combined-authority&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">West Midlands Combined Authority</a>
      </li>
    </ul>

{% endblock %}

{% block footer %}
{% include "includes/WIP_footer.html" %}
{% endblock %}
