{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }}
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="030-what-public-benefit-cat" method="post" novalidate>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">{% include "includes/request/request-id.html" %}</span>
          <label class="govuk-label govuk-label--l" for="what-data">
            What data from {{ data['shareTitle'] }} do you need?
          </label>
        </h1>
        <p><a href="#1">View data (opens in new tab)</a></p>
        <textarea class="govuk-textarea" id="what-data" name="what-data" type="text" rows="5"></textarea>
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" type="submit" data-module="govuk-button">
          Save and continue
        </button>
        <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button">
          Save and return
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
