{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/WIP_mvp-nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Learn
    </h1>
    <p class="govuk-body-l">Find information to help you get the most out of the Data Marketplace.</p>
    <br>

    <h2 class="govuk-heading-m">Guidance on terminology</h2>
    <p>
      <ul class="govuk-list WIP-LEARN__browse-list">
        <li><a href="#1">Glossary</a></li>
        <li><a href="https://co-cddo.github.io/data-catalogue-schemas/">UK Cross-Government Metadata Exchange Model</a></li>
      </ul>
    </p>

    <h2 class="govuk-heading-m">Set up a data share request</h2>
    <p>
      <ul class="govuk-list WIP-LEARN__browse-list">
        <li><a href="./articles/data-sharing-arrangements">Data Sharing Arrangements</a></li>
        <li><a href="./articles/data-sharing-questions">Data sharing questions</a></li>
      </ul>
    </p>

    <h2 class="govuk-heading-m">Publish data descriptions</h2>
    <p>
      <ul class="govuk-list WIP-LEARN__browse-list">
        <li><a href="./articles/guidance-on-publish">Guidance on publish</a></li>
        <li><a href="./articles/adding-a-CSV-file">Adding a collection of metadata records as a CSV file</a></li>
        <li><a href="./articles/adding-a-single-data-asset">Adding a single data asset</a></li>
        <!-- <li><a href="#1">API pull asset</a></li> -->
        <!-- <li><a href="#1">API push model</a></li> -->
        <li><a href="./articles/metadata-model">Metadata model</a></li>
        <li><a href="./articles/publish-data-descriptions-questions">Publish data descriptions questions</a></li>
        <li><a href="./articles/dcat">DRAFT Record key information about Essential Shared Data Assets</a></li>
        <li><a href="./articles/esda">DRAFT Using metadata to describe data assets in a data catalogue</a></li>
      </ul>
    </p>  

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
  </div>

  <div class="govuk-grid-column-one-half-from-desktop">
    <h2 id="support" class="govuk-heading-m">Contact Data Marketplace Team</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="#1">Contact the team</a> if you have a question, suggestion or idea. We’d love to hear from you.
    </p>
  </div>
</div>

{% endblock %}

