{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includess/mvp-nav_conditional.html" %}
{% endblock %}

{% block beforeContent %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
        Topics
        </h1>
        <ul class="gem-c-cards__list govuk-!-margin-bottom-6">          
            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="39">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/find/find?topicFilters=business%2520and%2520economy&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Business and economy</a></h3>
                    <p class="govuk-body gem-c-cards__description">Small businesses, industry, imports, exports and trade</p>
                </div>
            </li>

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="35">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/find/find?topicFilters=society&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Society</a></h3>
                    <p class="govuk-body gem-c-cards__description">Employment, benefits, household finances, poverty and population</p>
                </div>
            </li>

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="28">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/find/find?topicFilters=mapping&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Mapping</a></h3>
                    <p class="govuk-body gem-c-cards__description">Addresses, boundaries, land ownership, aerial photographs, seabed and land terrain</p>
                </div>
            </li>

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="21">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/find/find?topicFilters=environment&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Environment</a></h3>
                    <p class="govuk-body gem-c-cards__description">Weather, flooding, rivers, air quality, geology and agriculture</p>
                </div>
            </li>

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="21">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/find/find?topicFilters=government&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Government</a></h3>
                    <p class="govuk-body gem-c-cards__description">Staff numbers and pay, local councillors and department business plans</p>
                </div>
            </li>

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="18">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/find/find?topicFilters=towns%2520and%2520cities&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Towns and cities</a></h3>
                    <p class="govuk-body gem-c-cards__description">Includes housing, urban planning, leisure, waste and energy, consumption</p>
                </div>
            </li>

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="11">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/find/find?topicFilters=defence&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Defence</a></h3>
                    <p class="govuk-body gem-c-cards__description">Armed forces, health and safety, search and rescue</p>
                </div>
            </li>

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="7">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/find/find?topicFilters=crime%2520and%2520justice&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Crime and justice</a></h3>
                    <p class="govuk-body gem-c-cards__description">Courts, police, prison, offenders, borders and immigration</p>
                </div>
            </li>

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="7">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/find/find?topicFilters=transport&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Transport</a></h3>
                    <p class="govuk-body gem-c-cards__description">Airports, roads, freight, electric vehicles, parking, buses and footpaths</p>
                </div>
            </li>

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="6">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/find/find?topicFilters=health&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Health</a></h3>
                    <p class="govuk-body gem-c-cards__description">Includes smoking, drugs, alcohol, medicine performance and hospitals</p>
                </div>
            </li>

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="3">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/find/find?topicFilters=education&amp;topicFilters=_unchecked&amp;organisationFilters=_unchecked">Education</a></h3>
                    <p class="govuk-body gem-c-cards__description">Students, training, qualifications and the National Curriculum</p>
                </div>
            </li>
            
        </ul>

{% endblock %}


{% block footer %}
{% include "includes/footer.html" %}

{% endblock %}
