{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }}
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/mvp-nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Declaration</h1>
    <p>By sending this, you confirm you have considered how the:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>technology</li>
      <li>data security</li>
      <li>data protection</li>
      <li>legal</li>
      <li>data governance</li>
    </ul>
    <p>aspects might impact your request.</p>
<!--     <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
      <label class="govuk-label govuk-checkboxes__label" for="waste">
        I confirm I have read and understood the declaration
      </label>
    </div> -->
    <br>
    <form class="form" action="/bMVP_i0--decision-after-declaration" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Agree and send decision
      </button>
    </form>
  </div>
</div>

{% endblock %}

