{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }}
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/mvp-nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/bMVP_i0--decision-routes" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="your-decision-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Request ID: RR523</span>
            <h1 class="govuk-fieldset__heading">
              What is your decision?
            </h1>
          </legend>
          <div id="your-decision-hint" class="govuk-hint">
            Choose your decision and add your feedback. This will be sent to the person or team making the request.
          </div>
          <br>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="your-decision-4" name="your-decision" type="radio" value="accept" aria-describedby="your-decision-4-item-hint" data-aria-controls="conditional-accept">
              <label class="govuk-label govuk-radios__label" for="your-decision-4">
                <strong>Accept data share request</strong>
              </label>
              <div id="your-decision-4-item-hint" class="govuk-hint govuk-radios__hint">
                Approve and set up a meeting to discuss next steps.
              </div>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-accept">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  <strong>Feedback</strong>
                </label>
                <textarea class="govuk-textarea" id="feedback_accept" name="feedback-for-acquirer"spellcheck="false" rows="6"></textarea>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="your-decision-2" name="your-decision" type="radio" value="comment" aria-describedby="your-decision-2-item-hint" data-aria-controls="conditional-return">
              <label class="govuk-label govuk-radios__label" for="your-decision-2">
                <strong>Return with comments</strong>
              </label>
              <div id="your-decision-2-item-hint" class="govuk-hint govuk-radios__hint">
                Some details are missing. A decision cannot be made without them.
              </div>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-return">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  <strong>Feedback</strong>
                </label>
                <textarea class="govuk-textarea" id="feedback_return" name="feedback-for-acquirer" spellcheck="false" rows="6"></textarea>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="your-decision-3" name="your-decision" type="radio" value="reject" aria-describedby="your-decision-3-item-hint" data-aria-controls="conditional-reject">
              <label class="govuk-label govuk-radios__label" for="your-decision-3">
                <strong>Reject data share request</strong>
              </label>
              <div id="your-decision-3-item-hint" class="govuk-hint govuk-radios__hint">
                There are fundamental problems with this request that cannot be solved.
              </div>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reject">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  <strong>Feedback</strong>
                </label>
                <textarea class="govuk-textarea" id="feedback_reject" name="feedback-for-acquirer" spellcheck="false" rows="6"></textarea>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Submit
        </button>
        <a class="govuk-link" href="../manage-shares/received-requests.html">Return to received requests</a>
      </div>
    </form>
  </div>
</div>


{% endblock %}
