{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/mvp-nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Rejected - more information needed</h1>
        <div class="govuk-panel__body">
          Request ID: <strong>RR000</strong>
        </div>
      </div>

      <p>Department X has been told their request was rejected as you need more information.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>The information needed has been requested and sent to Department X.</p>

      <br>
      <br>
      <a href="../manage-shares/" class="govuk-button">
        Return to manage data share requests
      </a>
    </div>
  </div>

{% endblock %}
