{% extends "layouts/main.html" %}

{% block pageTitle %}
   – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-l">Review your data sharing request</span>
<h1 class="govuk-heading-l">Propose a time to speak with department X</h1>

<p>
  An email will be sent with these details. It will include your contact details.
</p>

<form class="form" action="110-proceeding" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="pick-date-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Enter date
      </h2>
    </legend>
    <div id="pick-date-hint" class="govuk-hint">
      For example, 02 03 2024
    </div>
    <div class="govuk-date-input" id="pick-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="pick-date-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="pick-date-day" name="pick-date-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="pick-date-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="pick-date-month" name="pick-date-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="pick-date-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="pick-date-year" name="pick-date-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Enter time
      </h2>
    </legend>
    <div id="pick-time-hint" class="govuk-hint">
      For example, 14 30
    </div>
    <div class="govuk-date-input" id="pick-time">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="pick-time-day">
            Hour
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="pick-time-day" name="pick-time-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="pick-time-month">
            Minute
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="pick-time-month" name="pick-time-month" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>


<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</form>


    </div>
  </div>

{% endblock %}
