{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Request in-progress</h1>
      </div>

      <p>Department X have been notified.</p>
      
      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">Contact the project lead directly to set up a meeting to discuss this data share request further.</p>

      <ul class="govuk-list">
        <li class="govuk-body govuk-!-margin-bottom-4">
          <span class="govuk-body govuk-!-font-weight-bold">Name</span>
          <br>
          Jane Smith
        </li>
        <li>
          <span class="govuk-body govuk-!-font-weight-bold">Email</span>
          <br>
          <a href="#">jane.smith@dwp.gov.uk</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
