{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Return with comments</h1>
      </div>

      <p>
        You are saying you need further information and wish to leave a comment for the team that made the request.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You can contact a representative for this project at: <a href="#jasman.email">jasman.smith@digital.department-x.gov.uk</a></p>

      <p>You may also <a href="015-messages">Check your inbox</a> or <a href="035-shares">review your data shares</a>.</p>

    </div>
  </div>

{% endblock %}
