{% extends "layouts/main.html" %}

{% block pageTitle %}
   – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Review sharing request</span>
      <h1 class="govuk-heading-l">
        Have people with these skills reviewed this request?
      </h1>
<form action="/bMVP_i0--team-decision-routes-supplier" method="post">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="technology-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">Technology</h2>
    </legend>
    <div id="technology-hint" class="govuk-hint">
      For example: a technical architect, to help define data flows and requirements
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="technology" name="technology" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="technology">Yes</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="technology-2" name="technology" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="technology-2">No</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="govuk-fieldset" aria-describedby="security-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">Security</h2>
    </legend>
    <div id="security-hint" class="govuk-hint">
      For example: a cybersecurity analyst
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="security" name="security" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="security">Yes</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="security-2" name="security" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="security-2">No</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="govuk-fieldset" aria-describedby="DP-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">Data protection</h2>
    </legend>
    <div id="DP-hint" class="govuk-hint">
      For example: a data protection officer
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="DP" name="DP" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="DP">Yes</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="DP-2" name="DP" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="DP-2">No</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="govuk-fieldset" aria-describedby="legal-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">Legal</h2>
    </legend>
    <div id="legal-hint" class="govuk-hint">
      For example: a lawyer
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="legal" name="legal" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="legal">Yes</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="legal-2" name="legal" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="legal-2">No</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="govuk-fieldset" aria-describedby="governance-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">Data governance</h2>
    </legend>
    <div id="governance-hint" class="govuk-hint">
      For example: an information manager
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="governance" name="governance" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="governance">Yes</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="governance-2" name="governance" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="governance-2">No</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="govuk-fieldset" aria-describedby="business-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">Business ownership</h2>
    </legend>
    <div id="business-hint" class="govuk-hint">
      For example: a product owner or delivery manager
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="business" name="business" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="business">Yes</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="business-2" name="business" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="business-2">No</label>
      </div>
    </div>
  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</form>




    </div>
  </div>

{% endblock %}
