{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }}
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/mvp-nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

<style type="text/css">
.request-section {
  border-top: 1px solid #ccc;
  padding-top: 1em;
}
</style>

<div class="govuk-grid-row" style="border-top:none;padding-top:0;">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Review request ID: DS 13992</span>
    <h1 class="govuk-heading-l">
      Review Department X's request to access citizen relationships data
    </h1>

    <div class="request-section">
      <h2 class="govuk-heading-m">Legal basis</h2>
      <ul class="govuk-list">
        <li class="govuk-!-padding-bottom-3">Public task</li>
        <li class="govuk-!-padding-bottom-3">Contract</li>
      </ul>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Legal power</h2>
      <p>Common law</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Justification for legal gateway</h2>
      <div class="govuk-warning-text govuk-!-static-margin-bottom-2">
      </div>
      <p>
        Under Regulation 3 of The Health Service (Control of Patient Information), patient data can be lawfully processed with a view to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>diagnosing communicable diseases and other risks to public health</li>
        <li>recognising trends in such diseases and risks</li>
        <li>controlling and preventing the spread of such diseases and risks</li>
        <li>
          monitoring and managing:
          <ul class="govuk-list govuk-list--bullet">
            <li>outbreaks of communicable disease</li>
            <li>incidents of exposure to communicable disease</li>
            <li>the delivery, efficacy and safety of immunisation programmes</li>
            <li>adverse reactions to vaccines and medicines</li>
            <li>risks of infection acquired from food or the environment (including water supplies)</li>
            <li>the giving of information to persons about the diagnosis of communicable disease and risks of acquiring such disease.</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Data travel outside UK</h2>
      <p>Data will travel outside UK to these countries:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>United States of America</li>
      </ul>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Data subjects</h2>
      <p>Clinically extremely vulnerable patients.</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Aim of project</h2>
      <p>To assess claims and provide the correct level of support to vulnerable people based on their declared family relationships.</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">How data will help reach this aim</h2>
      <p>We cannot identify who needs support without access to a data set about who in the UK is clinically vulnerable.</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Public benefits of project</h2>
      <h3 class="govuk-heading-s">Evidence for public service delivery</h3>
      <p>
        This data will allow us to identify both who to help and the number of people we need to help.</p>
      <h3 class="govuk-heading-s">Evidence for decisions which are likely to benefit people in the UK</h3>
      <p>Depending on the number of people involved, this data could be used to support similar programs in the future.</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Preferred format</h2>
      <p>CSV file</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">How they want to receive it</h2>
      <p>Through secure third-party software</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">What they think their role is</h2>
      <p>Processor</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Data they want</h2>
      <p>List of vulnerable people's names and contact details</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">How it will impact the project if they don't get the data</h2>
      <p>The project will be impossible to complete. We are reliant on this data and have no alternatives.</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">How they will dispose of the data</h2>
      <p>Store CSV files in a secure sever and delete all files at end of project.</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">When they need it</h2>
      <p>16 July 2023</p>
    </div>

    <div class="request-section">
      <h2 class="govuk-heading-m">Data type</h2>
      <p>Personal data</p>
    </div>

    <div class="request-section" style="border-bottom: 1px solid #ccc;">
      <h2 class="govuk-heading-m">Data accessed by other organisations</h2>
      <p>Yes</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row" style="margin-top: 3em;">
  <div class="govuk-grid-column-two-thirds">
    <form action="100-decision" method="post">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="data-use-aim">
            Feedback (sent to data requester)
          </label>
        </h2>
        <!-- <div id="data-use-aim-hint" class="govuk-hint"></div> -->
        <textarea class="govuk-textarea" id="data-use-aim" name="data-use-aim" rows="5" aria-describedby="data-use-aim-hint"></textarea>
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="data-use-aim-achieve">
            Notes (not shared with data requester)
          </label>
        </h2>
        <!-- <div id="data-use-aim-achieve-hint" class="govuk-hint"></div> -->
        <textarea class="govuk-textarea" id="data-use-aim-achieve" name="data-use-aim-achieve" rows="5" aria-describedby="data-use-aim-achieve-hint"></textarea>
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" type="submit" data-module="govuk-button">
          Save and continue
        </button>
        <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button">
          Save and return
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
