{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block header %}
    {{ govukHeader({
      homepageUrl: "/DEV/",
      serviceName: serviceName,
      serviceUrl: "/DEV/start?loggedin=true",
      containerClasses: "govuk-width-container"
    }) }}
    {% include "includes/DEV_nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">CSV file uploaded</h1>
      </div>

      <p>
        Your data asset descriptions have been uploaded to the data marketplace.
      </p>
      <p>
        They are now available to be found by other government organisations searching for a data asset.
      </p>

      <a href="/DEV/publish/publish-dashboard" class="govuk-button" data-module="govuk-button">
        Return to publisher dashboard
      </a>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "includes/DEV_footer.html" %}
{% endblock %}