{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}



{% block header %}
  {{ super() }}
  {% include "includes/DEV_mvp-nav_conditional.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Adding a single data description asset</h1>
    
      <!-- guide elements -->
      <!--
      <aside class="part-navigation-container" role="complementary">
        <nav aria-label="Pages in this guide" class="gem-c-contents-list" role="navigation" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
          <h2 class="gem-c-contents-list__title">
            Contents
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              Overview
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link" href="#anchor__questions">Questions you will be asked</a>
            </li>
          </ol>
        </nav>
      </aside>
      -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6"> <!-- Add class if using gov.uk guide elements govuk-!-margin-top-6 --> 
    <!-- guide elements -->
    <!--
    <h2 class="govuk-heading-l">Overview</h2>
    -->

    <p>You can add a data description to the Data Marketplace using an online form. You must submit one form per dataset or data service.</p>

    <h2 class="govuk-heading-m">Step 1: Gather information about your data description</h2>

    <p>Use the <a href="./publish-data-descriptions-questions">questions</a> as a guide to ensure that enough information can be provided at each stage of adding a data description.</p>

    <p>By answering the questions, your published data description will be helpful to users trying to find data. You should avoid using domain specific jargon and acronyms. Write your description in plain English.</p>

    <p>The questions also ensure that your description meets the <a href="https://www.gov.uk/government/publications/recommended-open-standards-for-government/using-metadata-to-describe-data-assets-in-a-data-catalogue">cross-government data sharing metadata guidance</a>.</p>

    <h2 class="govuk-heading-m">Step 2: Enter your data description</h2>

    <p>Sign into the Data Marketplace and navigate to the <a href="/bMVP_dev--dashboard-add-permission">Publish data descriptions</a> dashboard then click on the ‘Add new data description’ button.</p>

    <img style="max-width:100%;height:auto;border:1px solid grey;" src="/public/images/learn/publish-dashboard.png" alt="Publish dashboard screenshot"/>
    <br>
    <br>
    <br>

    <p>You need to select ‘Add a data description manually’ which includes adding the description of a dataset (something that is distributed as a file download such as a CSV) or a data service (a web API that provides access to the data).</p>

    <img style="max-width:100%;height:auto;border:1px solid grey;" src="/public/images/learn/add-description-options.png" alt="Select your data description screenshot"/>
    <br>
    <br>
    <br>

    <p>You will now be taken through a series of forms where you can provide the answers to each of the questions.</p>

    <h2 class="govuk-heading-m">Step 3: Review your description</h2>

    <p>Once you have completed entering the description of your data, you will be presented with a check your answers page where you will have the option to change any of your answers.</p>

    <img style="max-width:100%;height:auto;border:1px solid grey;" src="/public/images/learn/check-answers-for-single-asset.png" alt="Check your answers for data asset screenshot"/>
    <br>
    <br>
    <br>

    <p>Once you are satisfied your answers are correct, click on Submit, which will confirm your description of the data has been uploaded.</p>

    <h2 class="govuk-heading-m">Step 4: View published data descriptions</h2>

    <p>Your data description will now have been added to the Data Marketplace. If you click on View metadata record, you will be taken to the page that provides the details of your data. To return to the home page, click on ‘Home’.</p>

    <img style="max-width:100%;height:auto;border:1px solid grey;" src="/public/images/learn/uploaded-single-asset.png" alt="Uploaded data asset screenshot"/>
  </div>

  <!-- guide elements -->
  <!--
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#1">Content title</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
  -->
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-8">
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
  </div>

  <div class="govuk-grid-column-one-half-from-desktop">
    <h2 id="community" class="govuk-heading-m">Learn</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="/DEV/learn/">Find information to help you</a> with the data marketplace.
      <br>
      For example: a glossary, or the UK Cross-Government Metadata Exchange model.
    </p>
  </div>

  <div class="govuk-grid-column-one-half-from-desktop">
    <h2 id="support" class="govuk-heading-m">Get help and support</h2>
    <p class="govuk-body">
    <p><a class="govuk-link" href="{{data['supportForm']}}">Tell us what you need help with</a>.</p>
    <p>If you have any questions about the data asset description (metadata), you should contact the data asset supplier directly.</p>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include "includes/DEV_footer.html" %}
{% endblock %}