{% extends "layouts/main.html" %}

{% block pageTitle %}
  Messages inbox – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Messages received
      </h1>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Message subject</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Received</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="#1">Jasman, can we speak with Carlos asap please</a></th>
      <td class="govuk-table__cell">20 Feb 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="#1">Service update - maintenance</a></th>
      <td class="govuk-table__cell">19 Feb 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="#1">Jasman, Carlos is happy with your revisions...</a></th>
      <td class="govuk-table__cell">5 Feb 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="#1">Data-share purpose reviewed. Please call to...</a></th>
      <td class="govuk-table__cell">17 Jan 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="#1">Data-share request received by ONS team...</a></th>
      <td class="govuk-table__cell">1 Jan 2023</td>
    </tr>
  </tbody>
</table>




    </div>
  </div>

{% endblock %}
