{% extends "layouts/main.html" %}

{% block pageTitle %}
   – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Requested data details</span>
<h1 class="govuk-heading-l">You may not need a data sharing agreement</h1>


  <p>
 In the UK, some types of data do not require a data sharing agreement between government departments. These are:

Publicly available data: Data that is already available to the public does not require a data sharing agreement. Examples of publicly available data include information available on government websites, publications, and open data portals.
Anonymized data: Data that has been anonymized so that it cannot be linked back to individuals does not require a data sharing agreement. Anonymization is the process of removing identifying information from data.
Aggregated data: Data that has been aggregated or summarized to protect the privacy of individuals does not require a data sharing agreement. Aggregation involves combining individual data points into a larger dataset that does not identify individuals.
Data shared under statutory or legal obligation: Some data may be shared between government departments under statutory or legal obligations, which do not require a data sharing agreement.
It is important to note that while some types of data may not require a data sharing agreement, they still need to be handled in accordance with data protection regulations and guidelines to ensure privacy and security.
 </p>

<div class="govuk-button-group">
  <a href="/khadija-authenticated/020-what-type-data" class="govuk-button govuk-button--secondary" data-module="govuk-button">Data shares</a>
  <a class="govuk-link" href="#">Return to sharing portal</a>
</div>


    </div>
  </div>

{% endblock %}
