{% extends "layouts/main.html" %}

{% block pageTitle %}
   – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Get your team ready</span>

      {% include "includes/potential-risks.html" %}

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I confirm I have read and understood the risks
        </label>
      </div>

      <a href="/khadija-authenticated/030-have-legal-power-cat" class="govuk-button govuk-!-static-margin-top-6" data-module="govuk-button">Continue</a>

    </div>
  </div>

{% endblock %}

