{% extends "layouts/main.html" %}

{% block pageTitle %}
   – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



<form action="/khadija-authenticated/030-role-cat" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <span class="govuk-caption-l">{% include "includes/cat-search-label.html" %}</span>
      <h1 class="govuk-fieldset__heading">
What data from this set are you interested in?
      </h1>
    </legend>
    <div id="yes-hint" class="govuk-hint">
These data items should be specific to the problem you are trying to solve.
    </div>




<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="event-name">
Data item
    </label>
  </h2>
  <div id="event-name-hint" class="govuk-hint">
    For example: Addresses of people in this data set.
  </div>
  <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
</div>





  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="event-name">
What type of data is this item?
    </label>
  </h2>
    <div class="govuk-radios" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="leaveUK-1" name="leaveUK" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="leaveUK-1">
Personal data
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="leaveUK-2" name="leaveUK" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="leaveUK-2">
Special category data
         </label>
      </div>

      <div class="govuk-radios__divider">or</div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="leaveUK-4" name="leaveUK" type="radio" value="dontknow">
        <label class="govuk-label govuk-radios__label" for="leaveUK-4">
None of these
        </label>
      </div>




Which organisation needs this?
How will the data be moved?
How often will the data be moved?
Why do you need this data item?
What will you do with the data item?
How long do you need the data item for?




    </div>
  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</form>


    </div>
  </div>

{% endblock %}
