{% extends "layouts/main.html" %}

{% block pageTitle %}
   – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form action="/khadija-authenticated/030-how-dispose-cat" method="post">


<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <span class="govuk-caption-l">{% include "includes/cat-search-label.html" %}</span>
    <label class="govuk-label govuk-label--l" for="more-detail">
How will it impact your project if you don't get this data?
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Be as specific as possible.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

</form>



    </div>
  </div>

{% endblock %}
