{% extends "layouts/main.html" %}

{% block pageTitle %}
   – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/jasman-authenticated/030-purpose-e" method="post">

        <div class="govuk-form-group">
          <span class="govuk-caption-l">Define the purpose of your data share</span>
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
              What do you hope to achieve with your project?
            </label>
          </h1>
  
          <div id="more-detail-hint" class="govuk-hint">
            Again, focus on the outcome of the share. What wider good will come of using the data?
          </div>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>

          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
              How will this [insert data set] set help you achieve this?
            </label>
          </h2>
  
          <div id="more-detail-hint" class="govuk-hint">
            Please be specific, this is the place to describe specific data features.
          </div>
          
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>


        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>


    </div>
  </div>











{% endblock %}
