{% extends "layouts/main.html" %}

{% block pageTitle %}
  Data shares – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Your data shares</span>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">Data shares being established</caption>
        <thead class="govuk-table__head">
        </thead>
        <tbody class="govuk-table__body" id="table-body-in-progress">
          <tr>
            <td>
              <img src="/public/images/share-tile.png" style="width: 95%;">
            </td>
            <td>
              <img src="/public/images/share-tile.png" style="width: 95%;">
            </td>
          </tr>
          <tr>
            <td>
              <img src="/public/images/share-tile.png" style="width: 95%;">
            </td>
            <td>
              <img src="/public/images/share-tile.png" style="width: 95%;">
            </td>
          </tr>
          <tr>
            <td>
              <img src="/public/images/share-tile.png" style="width: 95%;">
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table" style="font-size: 14px;">
        <caption class="govuk-table__caption govuk-table__caption--l">Active data shares</caption>
        <thead class="govuk-table__head">
          <tr id="table-header"></tr>
        </thead>
        <tbody class="govuk-table__body" id="table-body-active">
        </tbody>
      </table>


    </div>
  </div>

  <script>
    fetch("/public/staticdata/inprogress.csv")
      .then(response => response.text())
      .then(data => {
        const rows = data.trim().split("\n");
        const tbody = document.getElementById("table-body-in-progress");
        rows.forEach(row => {
          const [key, value] = row.split("<zoltan>");
          const tr = document.createElement("tr");
          const th = document.createElement("th");
          th.setAttribute("scope", "row");
          th.classList.add("govuk-table__header"); // Add the govuk-table__header class to the th element
          th.textContent = key;
          tr.appendChild(th);
          const td = document.createElement("td");
          td.classList.add("govuk-table__cell"); // Add the govuk-table__cell class to the td element
          td.textContent = value;
          tr.appendChild(td);
          tbody.appendChild(tr);
        });
      });
  </script>


  <script>
    fetch("/public/staticdata/sample.csv")
      .then(response => response.text())
      .then(data => {
        const rows = data.trim().split("\n");
        const tbody = document.getElementById("table-body-active");
        const headerRow = document.getElementById("table-header");
        const headerValues = rows.shift().split("<divider>");
        headerValues.forEach(headerValue => {
          const th = document.createElement("th");
          th.setAttribute("scope", "col");
          th.classList.add("govuk-table__header");
          th.textContent = headerValue;
          headerRow.appendChild(th);
        });
        rows.forEach(row => {
          const values = row.split("<divider>");
          const tr = document.createElement("tr");
          values.forEach(value => {
            const td = document.createElement("td");
            td.classList.add("govuk-table__cell");
            // td.textContent = value;
            td.textContent = value.slice(0, 200);
            tr.appendChild(td);
          });
          tbody.appendChild(tr);
        });
      });
  </script>


{% endblock %}

