{% extends "layouts/main.html" %}

{% block pageTitle %}
  DS 13992 - Data share request and response
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">In progress agreements</span>
      <h1 class="govuk-heading-l">
        Manage experts and collaborators for DS 13992
      </h1>


    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">You have added 5 collaborators</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Sophia Nguyen</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">Security</strong>
      </td>
      <td class="govuk-table__cell">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Sophia Nguyen</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sophia Nguyen from the list</span></a></li>
        </ul>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Ethan Patel</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">Technology</strong>
        <strong class="govuk-tag govuk-tag--green">Quality</strong>
      </td>
      <td class="govuk-table__cell">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Ethan Patel</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Ethan Patel from the list</span></a></li>
        </ul>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Isabella Rota</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">Data-protection</strong>
      </td>
      <td class="govuk-table__cell">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Isabella Rota</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Isabella Rota from the list</span></a></li>
        </ul>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Noah Kim</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">Ethics</strong>
      </td>
      <td class="govuk-table__cell">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Noah Kim</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Noah Kim from the list</span></a></li>
        </ul>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Alexandra McLean</th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">Legal</strong>
      </td>
      <td class="govuk-table__cell">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Noah Kim</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Noah Kim from the list</span></a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>


<form method="post" novalidate action="">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you need to add another collaborator?
      </legend>
      <div id="add-another-hint" class="govuk-hint">
        As conversations and reviews progress you can set collaborators up for notifications here.
      </div>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="add-another">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="add-another-2">
            No
          </label>
        </div>
      </div>

    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>




    </div>

    <div class="govuk-grid-column-one-third">
  {% include "includes/khadija-instance-nav.html" %}
    </div>

</div>



    </div>
  </div>

{% endblock %}
