{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Proceeding with request</h1>
      </div>

      <p>
        Department X have been notified.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You proposed a meeting with Department X for 03 03 2023 at 13:00.</p>

      <p>You can contact a representative for this project at: <a href="#jasman.email">jasman.smith@digital.department-x.gov.uk</a></p>

      <p>You may also <a href="/khadija-authenticated/015-messages">Check your inbox</a> or <a href="/khadija-authenticated/035-shares">review your data shares</a>.</p>

    </div>
  </div>

{% endblock %}
