{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Data sharing home page – {{ serviceName }}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}  
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Review sharing request</span>
    <h1 class="govuk-heading-l">
      Department X is requesting access to citizen relationships data.
    </h1>

    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">
      Received
    </h2>
    <p>
      8 February 2023</p>

    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">
      Contact
    </h2>
    <p class="govuk-!-static-margin-bottom-6">
      <a href="mailto:#">jasman.smith@digital.department-x.gov.uk</a></p>


    <div class="govuk-warning-text govuk-!-static-margin-bottom-1">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        request not reviewed by Legal
      </strong>
    </div>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        data will travel outside UK
      </strong>
    </div>

<a href="/khadija-authenticated/200-team-skills" class="govuk-button">Continue</a>


  </div>
</div>

{% endblock %}

