{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}
  <div class="x-govuk-masthead x-govuk-masthead--large">
    <nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
      <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
      <div class="govuk-width-container">
      <ul class="app-navigation__list app-width-container">
          <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/WIP/start">
              Home
            </a>
          </li>
          {% if data['loggedin'] == "true" %}
          <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/WIP/find/find?signinRoute=Find">
              Find data assets
            </a>
          </li>

          {% else %}
          <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/WIP/secure/information?signinRoute=Find"">
              Find data assets
            </a>
          </li>
          {% endif %}


          <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/WIP/learn/">
              Learn
            </a>
          </li>
      </ul>
      <ul class="app-navigation__list app-width-container" style="float: right;margin-right: -30px;">
        {% if data['loggedin'] == "true" %}
        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/WIP/secure/account">
            Account
          </a>
        </li>
        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/WIP/start?loggedin=false">
            Sign out
          </a>
        </li>
        {% else %}
        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/WIP/secure/information?loggedin=true&signinRoute=home">
            Sign in
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    </nav>
    <div class="govuk-width-container">

      <div class="govuk-phase-banner x-govuk-phase-banner--inverse">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag x-govuk-tag--inverse">
            Beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="/WIP/#" style="color: white;">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>


  
  <h1 class="x-govuk-masthead__title govuk-!-margin-bottom-2">
    Data Marketplace
  </h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <p class="x-govuk-masthead__description govuk-!-margin-bottom-4">
              A place for people who work in government  organisations, agencies and public bodies to share data.
            </p>
            <h2 class="govuk-heading-m  govuk-!-margin-bottom-3" style="color: inherit">Find data assets from government organisations</h2>
            

            <form action="/WIP/find/find" method="GET" id="searchForm">
              <div class="gem-c-search gem-c-search--on-white govuk-!-width-two-thirds govuk-!-margin-bottom-4">
                  <label for="search" class="gem-c-search__label govuk-label">Search the Data Catalogue</label>
                  <div class="gem-c-search__item-wrapper">
                      <input  class="gem-c-search__item gem-c-search__input govuk-input js-class-toggle" id="search" name="q" title="Search" type="search" value="{{ query }}">
                          <div class="gem-c-search__item gem-c-search__submit-wrapper">
                              <button class="gem-c-search__submit" type="submit" enterkeyhint="search">
                                  Search
                          <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                          <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                          <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                          </svg>
                          </button> 
                      </div>
                  </div>
              </div>
          
          </form>

        </div>
      
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m">Data requests</h2>
    <p class="govuk-body">Manage your data share requests with other government organisations.</p>
    {% if data['loggedin'] == "true" %}
    <ul class="govuk-list">
      <li>
        <a href="/WIP/manage-shares?signinRoute=Manage" class="govuk-link  govuk-!-font-weight-bold">Data request Dashboard</a>
      </li>
    </ul>
    {% else %}
    <ul class="govuk-list">
      <li>
        <p class="govuk-body"><a href="/WIP/secure/information?signinRoute=Manage" class="govuk-link  govuk-!-font-weight-bold">Data request Dashboard</a></p>
      </li>
    </ul>
   
    {% endif %}
    
  </div>
  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m">Data descriptions</h2>
    <p class="govuk-body">Add a metadata description of your data assets.</p>

    {% if data['loggedin'] == "true" %}
    <ul class="govuk-list">
      <li>
        <a href="/bMVP_wip--dashboard-add-permission?signinRoute=Publish" class="govuk-link  govuk-!-font-weight-bold">Descriptions dashboard</a>
      </li>
      <li>
        <a href="/bMVP_wip--method-add-permission?signinRoute=Publish" class="govuk-link  govuk-!-font-weight-bold">Add data description</a>
      </li>
    </ul>
    {% else %}
    <ul class="govuk-list">
      <li>
        <a href="/WIP/secure/information?signinRoute=Publish" class="govuk-link  govuk-!-font-weight-bold">Descriptions dashboard</a>
      </li>
      <li>
        <a href="/WIP/secure/information?signinRoute=Publish" class="govuk-link  govuk-!-font-weight-bold">Add data description</a>
      </li>
    </ul>
    {% endif %}
  </div>

  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l govuk-!-margin-top-0">
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h2 id="community" class="govuk-heading-m">Learn</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="/WIP/learn/">Find information to help you</a> with the data marketplace.
      <br>
      For example: a glossary, or the UK Cross-Government Metadata Exchange model.
    </p>
  </div>
</div>
      
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/jquery-3.6.3.min.js"></script>
{% endblock %}
