{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }}
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/WIP_mvp-nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Review your data sharing request</span>

      {% include "includes/potential-risks.html" %}

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I confirm I have read and understood the risks
        </label>
      </div>

      <a href="100-decision" class="govuk-button govuk-!-static-margin-top-6" data-module="govuk-button">Continue</a>


    </div>
  </div>

{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: data['supportForm'],
        text: "Get help and support"
      },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ]
  }
}) }}
{% endblock %}