{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/mvp-nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Request ID: RR523</span>
    <h1 class="govuk-heading-l">
      Department X is requesting access to citizen relationships data.
    </h1>
    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Aim of project</h2>
    <p>To assess claims and provide the correct level of support to vulnerable people based on their declared family relationships.</p>
    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Received</h2>
    <p>
      8 February 2023</p>
    <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">
      Contact
    </h2>
    <p class="govuk-!-static-margin-bottom-6">
      <a href="mailto:#">jasman.smith@digital.department-x.gov.uk</a></p>
    <div class="govuk-warning-text govuk-!-static-margin-bottom-1">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        request not reviewed by Legal
      </strong>
    </div>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        data will travel outside UK
      </strong>
    </div>
    <a href="#1" class="govuk-button">Continue</a>

    <h2 class="govuk-heading-m">Helpful links</h2>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Your decision options
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>You're about to review a data share request. You'll need to decide if it meets your requirements so you can draft a Memorandum of Understanding (MoU) with ((acquirer-name)).</p>

        <p>When you've reviewed the request, you can choose to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li> Accept the request.</li>
          <li> Arrange meeting to discuss further.</li>
          <li> Reject the request as you do not have enough information.</li>
          <li> Reject the request as it does not meet your requirements.</li>
        </ul>
      </div>
    </details>
  </div>
</div>




{% endblock %}

