{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/WIP_mvp-nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Record key information about Essential Shared Data Assets</h1>

      <ul class="govuk-list">
        <li>Collection: <a href="https://www.gov.uk/government/collections/metadata-standards-for-sharing-and-publishing-data">Metadata standards for sharing and publishing data</a></li>
      </ul>
    
      <!-- guide elements -->
      
      <aside class="part-navigation-container" role="complementary">
        <nav aria-label="Pages in this guide" class="gem-c-contents-list" role="navigation" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
          <h2 class="gem-c-contents-list__title">
            Contents
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              Overview
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#who-should-use-this-guidance" class="gem-c-contents-list__link govuk-link">Who should use this guidance</a></li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#using-metadata-in-government" class="gem-c-contents-list__link govuk-link">Using metadata in government</a></li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where-to-record-and-store-your-metadata" class="gem-c-contents-list__link govuk-link">Where to record and store your metadata</a></li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#making-metadata-machine-readable-and-accessible" class="gem-c-contents-list__link govuk-link">Making metadata machine readable and accessible</a></li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#metadata-you-should-record" class="gem-c-contents-list__link govuk-link">Metadata you should record</a></li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#record-the-provenance-of-your-data" class="gem-c-contents-list__link govuk-link">Record the provenance of your data</a></li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#help-users-find-use-and-identify-your-data-set" class="gem-c-contents-list__link govuk-link">Help users find, use and identify your data set</a></li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#help-others-validate-your-data" class="gem-c-contents-list__link govuk-link">Help others validate your data</a></li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#make-sure-your-data-is-used-appropriately" class="gem-c-contents-list__link govuk-link">Make sure your data is used appropriately</a></li>
          </ol>
        </nav>
      </aside>      
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6 govuk-!-margin-top-6 ">
    <!-- guide elements -->
    
    <h2 class="govuk-heading-l">Overview</h2>
    
    <p>Using metadata to describe Essential Shared Data Assets making it easier to catalogue, validate, reuse and share your data.</p>
    
    <p>If you are responsible for a data asset that is shared with another public sector organisation to deliver an essential purpose or process (e.g. Essential Shared Data Assets), you should create a record which includes information about your data and store it within your dataset.</p>
    <p>This information is called metadata and the records that contain this information may be referred to as attributes or meta(data) elements. By doing this, you will:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>make your data searchable and easier for users to find it</li>
      <li>make it easier for the data to be catalogued and validated</li>
      <li>ensure your data is accessible and reusable - your data is often reused even when you do not expect it to be</li>
    </ul>

    <p>If the data asset you create will be published in the form of <a href="https://www.gov.uk/guidance/creating-and-sharing-spreadsheets">spreadsheets</a>, CSV files or other data in <a href="https://en.wikipedia.org/wiki/Table_(information)">tabular form</a>, you should also refer to the guide on <a href="https://www.gov.uk/guidance/publishing-your-tabular-data">publishing your tabular data</a>, if you’re making your data open. All CSV files should comply with the <a href="https://www.gov.uk/government/publications/recommended-open-standards-for-government/tabular-data-standard">Tabular data standard</a>.</p>
    
    <h2 class="govuk-heading-l" id="who-should-use-this-guidance">Who should use this guidance</h2>
    <p>This guidance is part of a <a href="https://www.gov.uk/government/collections/open-standards-for-government-data-and-technology#recommended-open-standards">collection on open standards</a> to assist those already working with metadata and you should adopt it if your organisation does not currently have metadata guidance for you to use.</p>
    <p>You must follow this guidance if the data assets being shared have been designated as Essential Shared Data Assets (ESDAs), which refer to data collected, used and maintained to deliver public  services (and any other purposes or processes defined in the underlying guidance on ESDAs). As best practice, use this guidance if you create any other type of data assets you intend to share, unless the use of <a href="https://www.gov.uk/government/collections/metadata-standards-for-sharing-and-publishing-data">other metadata standards is more appropriate</a>. </p>
    <p>For example, if you are creating, maintaining or managing metadata for geospatial data (that which references data to a location on the surface of the Earth), you should instead use the <a href="https://www.agi.org.uk/gemini/">GEMINI</a> metadata for spatial data sets, including those covered by the <a href="https://guidance.data.gov.uk/publish_and_manage_data/harvest_or_add_data/inspire/">INSPIRE regulations</a>. You can also refer to the open standards profiles on <a href="https://www.gov.uk/government/publications/open-standards-for-government/exchange-of-location-point">‘Exchange of location point’</a> and <a href="https://www.gov.uk/government/publications/open-standards-for-government/identifying-property-and-street-information">‘Identifying property and street information’</a> for more details.</p>
    
    <h2 class="govuk-heading-l" id="using-metadata-in-government">Using metadata in government</h2>
    <p>By following this guidance, you will use a consistent metadata vocabulary to describe Essential Shared Data Assets and improve data interoperability across government. This guidance is related to other Open Standards such as <a href="https://schema.org/">schema.org</a> and <a href="https://www.dublincore.org/">Dublin Core</a>, both recommended for government use.</p>
    
    <h2 class="govuk-heading-l" id="where-to-record-and-store-your-metadata">Where to record and store your metadata</h2>
    <p>When recording metadata, it’s important to store this close to, or with, the data it’s describing. You can do this by storing metadata:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>within the dataset itself, or</li>
      <li>in a separate file, such as a readme file, and keep a record showing the link between data and metadata, and</li>
      <li>in a Metadata Catalogue, if your government organisation has one</li>
    </ul>

    <p>When publishing your data, you will need to consider:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>how the metadata may be harvested by data portals, such as the Government Data Marketplace, and</li>
      <li>how easy it will be for users to discover the data assets you intend to publish.</li>
    </ul>

    <p>Read our guidance on <a href="https://www.gov.uk/guidance/publishing-your-tabular-data">‘Publishing tabular data’</a> to understand more about how you publish metadata.</p>
    
    <h2 class="govuk-heading-l" id="making-metadata-machine-readable-and-accessible">Making metadata machine readable and accessible</h2>
    <p>To make metadata machine readable and accessible, you must format your metadata in a specific way. For example, use camelCase which is the practice of writing phrases so that there are no spaces between words and each word in the middle of the phrase begins with a capital letter.</p>
    <p>When recording your metadata, make sure you use plain English and follow the <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">writing for GOV.UK guide</a>. For example, do not use jargon, and make sure you define technical terms and expand acronyms. Try to avoid using symbols that users might misinterpret.</p>
    <p>If you are providing usage guidelines within the metadata information and you include links to content stored elsewhere, i.e. by inserting URLs to ancillary documentation, web pages - do make sure these can be accessible by users outside your organisation, otherwise remove them and provide that information alongside your dataset. </p>
    <p>It is important that all Mandatory attributes are completed when publishing Essential Shared Data Assets. For Recommended or Optional metadata attributes, if you do not have the information you need to record, you can still add the metadata, but add “unknown” or “not applicable” when relevant, in preference for ‘null values’.</p>
    
    <h2 class="govuk-heading-l" id="metadata-you-should-record">Metadata you should record</h2>
    <p>You should record all Mandatory information that will help others:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>be informed on where and when your data was collected - use ‘creator’ and ‘dateCreated’ to record who created the data and the date they created it</li>
      <li>find the data you’ve saved on a shared network, and identify whether it’s the data they need - use ‘title’, ‘description’ and ‘identifier’ to describe your data</li>
      <li>validate the data you’ve collected - use ‘expires’ and ‘supersededBy’ so users know which version of your data to use, ‘temporalCoverage’ to indicate the time period to which your data applies, and ‘conformsTo’ to tell users whether your file applies to a specific standard or schema</li>
      <li>use the data you’ve collected appropriately - use ‘hasDigitalDocumentPermission’ to make sure users do not share sensitive data in ways it shouldn’t be and ‘license’ to help users understand their rights to use the data you’ve collected</li>
      <li>understand the structure and format of your data - use the …</li>
    </ul>

    <p>Below are some examples of metadata and attributes which need to be included, note however this is not a comprehensive list. </p>
    <p>You should follow the specific guidance for Essential Shared Data Sets and use the <a href="https://co-cddo.github.io/data-catalogue-schemas/">Metadata Specification</a> applicable to these.  </p>
    
    <h2 class="govuk-heading-l" id="recording-time-and-dates-in-your-metadata">Recording time and dates in your metadata</h2>
    
    <h3 class="govuk-heading-m" id="using-datecreated">Using ‘dateCreated’</h3>
    <p>You should record the date when you create a data set to help users of the data set know whether it is valid and relevant to them. You must record any dates using the <a href="https://www.gov.uk/government/publications/open-standards-for-government/date-times-and-time-stamps-standard">ISO 8601 standard</a>, which is an Open Standard selected for use by the government.</p>
    <p>For example, dateCreated:“2002-10-02”</p>
    <p>You must capture the exact time a data set is collected when you’re collecting more than one version of a data set a day.</p>
    <p>This means listing the date and time elements in descending order of size (years, months, days, hours, minutes, seconds, milliseconds and microseconds). You should provide the right level of accuracy for your data set. For example, if you publish your data set once a year, it might be enough to provide a date down to the day, for example, 2020-07-14. If you publish multiple times a day, it is better to include information down to the second, for example, 2020-07-14T12:57:03Z.</p>
    
    <h3 class="govuk-heading-m" id="using-temporalcoverage">Using ‘temporalCoverage’</h3>
    <p>If you’re collecting data over a range of dates, you should record this so users know the period that the content applies to. For example, temporalCoverage:“2002-10-02/2013-01-01”</p>
    <p>If your data does not have a specified end date, you can use ”..” in place of the end date. This follows <a href="https://schema.org/DateTime">schema.org date standards</a>.</p>
    <p>For example, temporalCoverage:“2020-10-02/..”</p>
    
    <h2 class="govuk-heading-l" id="record-the-provenance-of-your-data">Record the provenance of your data</h2>
    
    <h3 class="govuk-heading-m" id="using-creator-or-contributor">Using ‘creator’ or ‘contributor’</h3>
    <p>You should record who created a data set so users can communicate with the creator and understand if the data is relevant to them. For example, a data analyst may want to find out how reliable a data set is before undertaking any analysis.</p>
    <p>Record a name for future reference, and an email address if possible. This name and email address should refer to:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>the name of a team or organisation</li>
      <li>a role within a team</li>
      <li>an individual name in some cases - if you can do this while remaining GDPR compliant</li>
    </ul>

    <p>For example, creator:&quot;Data Standards Authority team <a href="mailto:&#100;&#x61;&#x74;&#97;&#45;&#115;&#116;&#97;&#110;&#x64;&#x61;&#114;&#100;&#115;&#x2d;&#97;&#117;&#116;&#104;&#x6f;&#x72;&#x69;&#x74;&#x79;&#64;&#100;&#105;&#x67;&#105;&#x74;&#x61;&#x6c;&#46;&#x63;&#97;&#98;&#x69;&#110;&#101;&#x74;&#x2d;&#111;&#x66;&#x66;&#105;&#x63;&#x65;&#46;&#103;&#111;&#x76;&#x2e;&#x75;&#107;">&#100;&#x61;&#x74;&#97;&#45;&#115;&#116;&#97;&#110;&#x64;&#x61;&#114;&#100;&#115;&#x2d;&#97;&#117;&#116;&#104;&#x6f;&#x72;&#x69;&#x74;&#x79;&#64;&#100;&#105;&#x67;&#105;&#x74;&#x61;&#x6c;&#46;&#x63;&#97;&#98;&#x69;&#110;&#101;&#x74;&#x2d;&#111;&#x66;&#x66;&#105;&#x63;&#x65;&#46;&#103;&#111;&#x76;&#x2e;&#x75;&#107;</a>&quot;</p>
    <p>You can use ‘contributor’ instead if multiple organisations or teams are contributing to the data set. You can also use ‘creator’ and ‘contributor’ together for full clarity around where data has come from.</p>
    
    <h2 class="govuk-heading-l" id="help-users-find-use-and-identify-your-data-set">Help users find, use and identify your data set</h2>
    
    <h3 class="govuk-heading-m" id="using-name">Using ‘name’</h3>
    <p>You must include the name of your data set so users can find and identify the right data set.</p>
    <p>You should try to ensure the name captures information that will help users determine whether the data set meets their needs. For example, by capturing the topic and specific information about place and geography.</p>
    <p>For example, name:&quot;GDS London Office Employees office commuting tendencies”</p>
    
    <h3 class="govuk-heading-m" id="using-description">Using ‘description’</h3>
    <p>You can add a description to your data set, in addition to the title, so that users of your data can find out if it’s relevant to them.</p>
    <p>The descriptions of your data should only describe the type of data collected and should not include warnings about how to use the data - any warnings should be explained with the term ‘accessRights’.</p>
    <p>For example, description:&quot;The amount GDS employees commute to the office and their busiest times to travel. This data also shows the tendencies of GDS employees to work from home”</p>
    
    <h3 class="govuk-heading-m" id="using-identifier">Using ‘identifier’</h3>
    <p>You should uniquely identify your data set so that users of your data know exactly which source they’re using.</p>
    <p>You should identify your data asset by:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>using the identification system your organisation is using (in cases where organisations have a system in place)</li>
      <li>using a meaningless identifier you’ve created - this should be random numbers rather than sequential or semi-sequential numbers to avoid meaning being implied</li>
    </ul>

    <p>Using a meaningless identifier avoids the misunderstanding that comes with applying meaning to identifiers. For example, meaning can change over time. Meaningless identifiers can be genuinely constant things.</p>
    <p>For example, identifier:“362857580”</p>
    <p>You can ensure this meaningless identifier stays unique by keeping a catalogue of all data sets with their identifiers.</p>
    
    <h3 class="govuk-heading-m" id="using-encodingformat">Using ‘encodingFormat’</h3>
    <p>You should record the file format in which you store your data so users know how to use and import it.</p>
    <p>File extensions are commonly used for your operating system to decide what program to open a file with. Common file extensions include XLS for Excel spreadsheets and CSV.</p>
    <p>Example, encodingFormat:”xls”</p>
    <p>If you think you may publish your data set, you can also record the media type. Media types are used by browsers to decide how to present some data. For more information, read <a href="https://www.gov.uk/guidance/publishing-your-tabular-data">‘Publishing tabular data’</a>.</p>
    <p>Media type is also known as a Multipurpose Internet Mail Extensions or MIME type. Mozilla <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types">keeps a list of common MIME types</a>.</p>
    <p>Example, encodingFormat:”jpeg”</p>
    
    <h2 class="govuk-heading-l" id="help-others-validate-your-data">Help others validate your data</h2>
    
    <h3 class="govuk-heading-m" id="using-supersededby">Using ‘supersededBy’</h3>
    <p>When the data you’re collecting replaces an older version, you should record this change to make sure users use the most up-to-date version.</p>
    <p>You must only use ‘supersededBy’ when the data you’re collecting has:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>the same time period and location as the older version of the spreadsheet or file</li>
      <li>different content to the older version of the spreadsheet or file</li>
    </ul>

    <p>The new data version will need its unique URL or identifier.  For example,</p>
    <p>supercededBy:”<a href="https://www.gov.uk/government/organisations/government-digital-service/about/v1">https://www.gov.uk/government/organisations/government-digital-service/about/v1</a>”</p>
    <p>You may also choose ‘isRelatedTo’ as a more generic term that can account for any relationship between resources.</p>
    
    <h3 class="govuk-heading-m" id="using-supersedes">Using ‘supersedes’</h3>
    <p>You can use ‘supersedes’ as an additional property to allow users to understand the history or timeline of a document.</p>
    <p>For example, supersedes: ”<a href="https://www.gov.uk/government/organisations/government-digital-service/about/v1">https://www.gov.uk/government/organisations/government-digital-service/about/v1</a>”</p>
    
    <h3 class="govuk-heading-m" id="using-expires">Using ‘expires’</h3>
    <p>If you’re no longer using a particular data set, or it has been superseded by other data, you should record it as expired. You can do this by adding the date for when your data set is no longer valid. You should give any replacement data a new title and identifier.</p>
    <p>You will often need to remember to revisit your data set to update its metadata when becoming aware of the need for the data set to be no longer used.</p>
    <p>For example, expires:”2003-12-04”</p>
    <p>Do not use this to record the period that applies to your data. In these cases, you should use ‘temporalCoverage’ instead.</p>
    
    <h3 class="govuk-heading-m" id="using-conformsto">Using ‘conformsTo’</h3>
    <p>You should tell users whether your file conforms to a specific standard or schema so they can easily validate it. This could be the CSV on the Web schema or RFC4180 standard.</p>
    <p>For example, conformsTo:“<a href="https://tools.ietf.org/html/rfc4180">https://tools.ietf.org/html/rfc4180</a>”</p>
    <p>Your department, agency or local authority might also use a particular schema for specific types of data collection, and you may want to record this. For example, the <a href="https://www.gov.uk/government/publications/brownfield-land-registers-data-standard">data standards for publishing brownfield land registers</a>.</p>
    
    <h2 class="govuk-heading-l" id="make-sure-your-data-is-used-appropriately">Make sure your data is used appropriately</h2>
    
    <h3 class="govuk-heading-m" id="using-license">Using ‘license’</h3>
    <p>For protected data such as personal, sensitive or commercial data, you should record information that will help users of the data understand its terms and conditions.</p>
    <p>You may want to include the relevant data-sharing agreement, legal regulation or certification. This could be a memorandum of understanding (MOU) or Data Protection Impact Assessment.</p>
    <p>The open standards vocabularies schema.org and Dublin Core both spell the noun ‘licence’ using the American spelling ‘license’. You should use ‘license’ for consistency.</p>
    <p>For example, license:“Memorandum of Understanding between the Charity Commission for England and Wales and the Office for Students”</p>
    <p>When publishing open data, you should label the data you’ve collected with its licence for use. In many cases within government, this will be the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence (OGL)</a>. You should also link to the licence file to explain what the licence means and how others can use your code and content.</p>
    <p>For example, license: “<a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/</a>”</p>
    
    <h3 class="govuk-heading-m" id="using-hasdigitaldocumentpermission">Using ‘hasDigitalDocumentPermission’</h3>
    <p>You should record the sensitivity of your data so it’s not shared or published in ways it should not be.</p>
    <p>You should provide information about who should be able to access the data you’ve collected, and any restrictions including:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>whether it’s open or restricted/protected</li>
      <li>the handling caveat for the data</li>
      <li>the security classification of data</li>
    </ul>

    <p>For example, hasDigitalDocumentPermission:“restricted access”</p>
    
    <h2 class="govuk-heading-l" id="help-users-assess-whether-the-data-is-fit-for-their-intended-purpose">Help users assess whether the data is fit for their intended purpose</h2>
    
    <h3 class="govuk-heading-m" id="using-">Using ‘...’</h3>
    <p>You should record … </p>
    <p>[This section will be added based on the requirements for Data Quality attributes yet to be identified]</p>
  </div>

  <!-- guide elements -->
  
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li><a href="https://www.gov.uk/government/collections/metadata-standards-for-sharing-and-publishing-data">Metadata standards for sharing and publishing data - GOV.UK</a></li>
          <li><a href="https://www.gov.uk/government/publications/recommended-open-standards-for-government/using-metadata-to-describe-data-shared-within-government">Using metadata to describe data shared within government - GOV.UK</a></li>
          <li><a href="https://www.gov.uk/guidance/record-information-about-data-sets-you-share-with-others">Record information about data sets you share with others - GOV.UK</a></li>
          <li><a href="https://www.gov.uk/guidance/publishing-your-tabular-data">Publishing your tabular data - GOV.UK</a></li>
          <li><a href="https://www.gov.uk/government/publications/data-sharing-governance-framework/data-sharing-governance-framework#make-your-data-sharing-more-efficient-by-following-five-principles">Data Sharing Governance Framework - GOV.UK</a></li>
          <li><a href="https://www.gov.uk/guidance/creating-and-sharing-spreadsheets">Creating and sharing spreadsheets - GOV.UK</a></li>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-8">
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
  </div>

  <div class="govuk-grid-column-one-half-from-desktop">
    <h2 id="community" class="govuk-heading-m">Learn</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="/WIP/learn/">Find information to help you</a> with the data marketplace.
      <br>
      For example: a glossary, or the UK Cross-Government Metadata Exchange model.
    </p>
  </div>

  <div class="govuk-grid-column-one-half-from-desktop">
    <h2 id="support" class="govuk-heading-m">Contact Data Marketplace Team</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="#1">Contact the team</a> if you have a question, suggestion or idea. We’d love to hear from you.
    </p>
  </div>
</div>

{% endblock %}
