{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/bMVP_i0--230" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="specialCatBasis-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{% include "includes/cat-search-label.html" %}</span>
            <h1 class="govuk-fieldset__heading">
              What is your lawful basis for requesting special category data under UK GDPR?
            </h1>
          </legend>
          <div id="specialCatBasis-hint" class="govuk-hint">
            Find out more about having a <a href="#">lawful basis for processing special category data (opens in new tab).</a> <br>
            You may need help from a data protection specialist.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="specialCatBasis" name="specialCatBasis" type="checkbox" value="Reasons of substantial public interest (with a basis in law)">
              <label class="govuk-label govuk-checkboxes__label" for="specialCatBasis">
                Reasons of substantial public interest (with a basis in law)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="specialCatBasis-2" name="specialCatBasis" type="checkbox" value="Legal claims or judicial acts">
              <label class="govuk-label govuk-checkboxes__label" for="specialCatBasis-2">
                Legal claims or judicial acts
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="specialCatBasis-3" name="specialCatBasis" type="checkbox" value="Public health (with a basis in law)">
              <label class="govuk-label govuk-checkboxes__label" for="specialCatBasis-3">
                Public health (with a basis in law)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="specialCatBasis-4" name="specialCatBasis" type="checkbox" value="Health or social care (with a basis in law)">
              <label class="govuk-label govuk-checkboxes__label" for="specialCatBasis-2">
                Health or social care (with a basis in law)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="specialCatBasis-5" name="specialCatBasis" type="checkbox" value="Employment, social security and social protection (if authorised by law)">
              <label class="govuk-label govuk-checkboxes__label" for="specialCatBasis-2">
                Employment, social security and social protection (if authorised by law)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="specialCatBasis-6" name="specialCatBasis" type="checkbox" value="Vital interests">
              <label class="govuk-label govuk-checkboxes__label" for="specialCatBasis-2">
                Vital interests
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="specialCatBasis-7" name="specialCatBasis" type="checkbox" value="Explicit consent">
              <label class="govuk-label govuk-checkboxes__label" for="specialCatBasis-2">
                Explicit consent
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="specialCatBasis-7" name="specialCatBasis" type="checkbox" value="Made public by the data subject">
              <label class="govuk-label govuk-checkboxes__label" for="specialCatBasis-2">
                Made public by the data subject
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="specialCatBasis-7" name="specialCatBasis" type="checkbox" value="Archiving, research and statistics (with a basis in law)">
              <label class="govuk-label govuk-checkboxes__label" for="specialCatBasis-2">
                Archiving, research and statistics (with a basis in law)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="specialCatBasis-7" name="specialCatBasis" type="checkbox" value="Not-for-profit bodies">
              <label class="govuk-label govuk-checkboxes__label" for="specialCatBasis-2">
                Not-for-profit bodies
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" type="submit" data-module="govuk-button">
          Save and continue
        </button>
        <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button">
          Save and return
        </button>
      </div>
    </form>
  </div>
</div>


{% endblock %}
