{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header-khadija.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <span class="govuk-caption-l">Prepare to request a data share</span> -->
      <h1 class="govuk-heading-xl">
        Request citizen relationships data
      </h1>

      <p class="govuk-body">You need to answer some questions to make sure your request meets GDPR and data sharing standards.</p>

      <p class="govuk-body">Your answers will be reviewed by the department that owns the data.</p>

      <h2 class="govuk-heading-l">
        Before you start
      </h2>

      <p class="govuk-body">Some questions may require support from people with  skills in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>technology</li>
        <li>data security</li>
        <li>data protection</li>
        <li>legal</li>
        <li>data governance</li>
        <li>business ownership</li>
      </ul>

      <p><a href="#1">Check questions before you start</a></p>

      <a href="020-tasks-cat" class="govuk-button" data-module="govuk-button">Continue</a>

      <h3 class="govuk-heading-m">For more help</h3>
      <ul class="govuk-list">
        <li class="govuk-link"><a href="#1">How to set up a data share arrangement in government</a></li>
      </ul>

    </div>
  </div>

{% endblock %}

