{% extends "layouts/main.html" %}

{% block pageTitle %}
Use GOV.UK One Login to sign in to this service
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/WIP_nav_sign-in.html" %}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="sso/google/sso-1/sso-1" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Sign in to the Data Marketplace
              </h1>
            </legend>
            <p class="govuk-body">
              Access the Data Marketplace through your <a class="govuk-link" href="https://www.gov.uk/">gov.uk</a> email single sign on, backed by Microsoft or Google.
            </p>
            <p class="govuk-body">
              You'll go through your standard multi-factor authentication process for signing in with your government email address.
            </p>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Do not show this message again
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
