{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Data Marketplace
    </h1>

    <h2 class="govuk-heading-l">WIP</h2>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li><a href="/wip/adam/request/">Acquirer journey</a></li>
      <li><a href="/wip/adam/review-request/">Supplier journey</a></li>
      <li><a href="/wip/adam/manage-shares/">Manage data share requests</a></li>
    </ul> 

    <br>
    <br>

    <h2 class="govuk-heading-l">Design exploration</h2>

    <h3 class="govuk-heading-m">Acquirer request, new "data type" routes</h3>

    <p>This work covers the following:</p>

    <p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Design the non-personal data route</li>
      <li>Update the designs to allow both personal and special category to be selected</li>
    </ul>
    </p>


    <br>
    <h4 class="govuk-heading-s">Task list</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li><a href="/wip/adam/misc/acquirer_non-personal-data/tasks-cat_blocked-pages">Idea 1: Questions blocked</a>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><a href="/wip/adam/misc/acquirer_non-personal-data/tasks-cat_blocked-pages_data-type-completed_hide">Outcome idea 1: Hide questions</a></li>
          <li><a href="/wip/adam/misc/acquirer_non-personal-data/tasks-cat_blocked-pages_data-type-completed_keep-visible">Outcome idea 2: Mark questions as "Not required"</a></li>          
        </ul>
      </li>
      <li><a href="/wip/adam/misc/acquirer_non-personal-data/tasks-cat_hidden-sections">Idea 2: Hidden questions</a>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><a href="/wip/adam/misc/acquirer_non-personal-data/tasks-cat_hidden-sections_data-type-completed">Outcome: No change (for non-personal)</a></li>
          <li><a href="/wip/adam/misc/acquirer_non-personal-data/tasks-cat_hidden-sections_data-type-completed_other">Outcome: Show questions (for personal or special category)</a></li>
        </ul>
      </li>
    </ul>  

    <h4 class="govuk-heading-s">Check your answers</h4>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li><a href="/wip/adam/misc/acquirer_non-personal-data/check-answers_sample-non-personal">Non-personal</a></li>
      <li><a href="/wip/adam/misc/acquirer_non-personal-data/check-answers_sample-personal-and-special">Personal and special category</a></li>
    </ul>   

  </div>
</div>

{% endblock %}
