{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Adam's design exploration
    </h1>

    <h2 class="govuk-heading-m">Acquirer request, new "data type" routes</h2>

    <p>This work covers the following:</p>

    <p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Design the non-personal data route</li>
      <li>Update the designs to allow both personal and special category to be selected</li>
    </ul>
    </p>


    <br>
    <h3 class="govuk-heading-s">Task list</h3>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li><a href="/WIP/_design/adam/acquirer_non-personal-data/tasks-cat_blocked-pages">Idea 1: Questions blocked</a>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <!-- <li><a href="/WIP/_design/adam/acquirer_non-personal-data/tasks-cat_blocked-pages_data-type-completed_hide">Outcome idea 1: Hide questions</a></li> -->
          <li><a href="/WIP/_design/adam/acquirer_non-personal-data/tasks-cat_blocked-pages_data-type-completed_keep-visible">Outcome idea 2: Mark questions as "Not required"</a></li>          
        </ul>
      </li>
<!--       <li><a href="/WIP/_design/adam/acquirer_non-personal-data/tasks-cat_hidden-sections">Idea 2: Hidden questions</a>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><a href="/WIP/_design/adam/acquirer_non-personal-data/tasks-cat_hidden-sections_data-type-completed">Outcome: No change (for non-personal)</a></li>
          <li><a href="/WIP/_design/adam/acquirer_non-personal-data/tasks-cat_hidden-sections_data-type-completed_other">Outcome: Show questions (for personal or special category)</a></li>
        </ul>
      </li> -->
    </ul>  

    <h3 class="govuk-heading-s">Check your answers</h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li><a href="/WIP/_design/adam/acquirer_non-personal-data/check-answers_sample-non-personal">Non-personal</a></li>
      <li><a href="/WIP/_design/adam/acquirer_non-personal-data/check-answers_sample-personal-and-special">Personal and special category</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Manage data share requests - Handling high volumes of requests</h2>   
    <h3 class="govuk-heading-s">Created requests</h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li><a href="/WIP/_design/adam/dashboard-high-volumes/created-requests_pagination">Pagination</a></li>
      <li><a href="/WIP/_design/adam/dashboard-high-volumes/created-requests_view-all">View all to seperate page</a></li>
      <li><a href="/WIP/_design/adam/dashboard-high-volumes/created-requests_tabbed">Tabbed tables</a></li>
      
    </ul>
  </div>

  <div class="govuk-grid-column-one-third" style="position: sticky; top:40px;">
    <aside class="app-related-items sidebar" role="complementary">
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-list--bullet" style="list-style-type:circle;margin-bottom: 0">
          <li><a href="/WIP/">WIP prototype</a></li>
        </ul>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include "includes/backstage_footer.html" %}
{% endblock %}
