{% extends "layouts/main.html" %}

{% block pageTitle %}
  Autocomplete question page template – {{ serviceName }} – GOV.UK Prototype Components
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <form class="form" action="/url/of/next/page" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ xGovukAutocomplete({
          id: "country",
          name: "country",
          allowEmpty: false,
          label: {
            classes: "govuk-label--l",
            isPageHeading: true,
            text: "Country of birth"
          },
          hint: {
            test: "For example, Austria or Belgium"
          },
items: [
  { text: "Attorney General's Office" },
  { text: "Cabinet Office" },
  { text: "Department for Business, Energy & Industrial Strategy" },
  { text: "Department for Digital, Culture, Media & Sport" },
  { text: "Department for Education" },
  { text: "Department for Environment, Food & Rural Affairs" },
  { text: "Department for Exiting the European Union" },
  { text: "Department for International Development" },
  { text: "Department for International Trade" },
  { text: "Department for Transport" },
  { text: "Department for Work and Pensions" },
  { text: "Department of Health and Social Care" },
  { text: "Foreign, Commonwealth & Development Office" },
  { text: "HM Treasury" },
  { text: "Home Office" },
  { text: "Ministry of Defence" },
  { text: "Ministry of Housing, Communities & Local Government" },
  { text: "Ministry of Justice" },
  { text: "Northern Ireland Office" },
  { text: "Office of the Advocate General for Scotland" },
  { text: "Office of the Leader of the House of Commons" },
  { text: "Office of the Leader of the House of Lords" },
  { text: "Scotland Office" },
  { text: "Wales Office" },
  { text: "Bank of England" },
  { text: "Charity Commission for England and Wales" },
  { text: "Competition and Markets Authority" },
  { text: "Crown Prosecution Service" },
  { text: "Food Standards Agency" },
  { text: "Forestry Commission" },
  { text: "Government Actuary's Department" },
  { text: "Government Legal Department" },
  { text: "Her Majesty's Revenue and Customs" },
  { text: "Her Majesty's Land Registry" },
  { text: "National Crime Agency" },
  { text: "National Savings and Investments" },
  { text: "Office for Standards in Education, Children's Services and Skills" },
  { text: "Office of Gas and Electricity Markets" },
  { text: "Office of Qualifications and Examinations Regulation" },
  { text: "Office of Rail and Road" },
  { text: "Ordnance Survey" },
  { text: "Serious Fraud Office" },
  { text: "Supreme Court of the United Kingdom" },
  { text: "The National Archives" },
  { text: "UK Statistics Authority" },
  { text: "Water Services Regulation Authority" }
]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
