{% extends "layouts/main.html" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">


<!-- a href="/gg-login-cat" -->

<a href="/khadija-authenticated/020-before-start-cat" onclick="alert('In this journey, the acquirer authenticated in the Data Catalogue, so she does not need to log in to the sharing service');">
    <img src="/public/images/grabs/030-data-record.png" style="width:100%;">
</a>

<!--
010-find.png
020-search-results.png
030-data-record.png
-->

    <div class="govuk-grid-column-full">
</div>



{% endblock %}
