{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Design a data share
    </h1>

    <h3 class="govuk-heading-m">
      Beta MVP
    </h3>

    <ul class="govuk-list govuk-list--number govuk-list--spaced">
      <li><a href="/beta-mvp/0/acquirer/">Quick link</a></li>
    </ul>   

    <h3 class="govuk-heading-m">
      Alpha Journeys
    </h3>

    
<!--     <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li><a href="/gdx-home_alt3">When Jasman (acquirer) found the data catalogue and tried to find the data she needs (starts from the catalogue)</a></li>
      <li><a href="/gdx-home_alt2">When Jasman (acquirer) had decided she was happy she knew the right data source but needed to initiate a data share (starts from public portal)</a></li>
      <li><a href="/khadija-authenticated/000-email">When Khadija (supplier) received an email from gov.uk telling her a request for data had arrived (starts from notification email)</a></li>
      <li><a href="/gdx-home_alt2">When Khadija (supplier) needed to check the progress of the requests she had responded to. (starts from public portal)</a></li>
      <li><a href="/gdx-home_alt2">Public facing portal</a></li>
      <li><a href="/gdx-home_alt3">Data catalogue</a></li>
    </ul> -->
  

    <ul class="govuk-list govuk-list--number govuk-list--spaced">
      <li><a href="/gdx-home_alt3">Acquirer has found data in catalogue</a><br>(starts from the catalogue)</li>
      <li><a href="/gdx-home_alt2">Acquirer has sourced data herself</a><br>(starts from public portal - then clicks "create your data-sharing request")</li>
      <li><a href="/khadija-authenticated/000-email">Supplier receives an email from gov.uk telling her a request for data had arrived</a><br>(starts from notification email)</li>
      <li><a href="/gdx-home_alt2">Supplier checks the progress of the requests she had responded to.</a><br>(starts from public portal - then clicks "review your request")</li>
    </ul>


<!--     
    <h3 class="govuk-heading-m">
      Older versions
    </h3>
    

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/jasman/000-start">Jasman end-to-end "Acquirer" journey</li>
      <li><a href="/gdx-home_alt1">Destination page - alternative journey 1</li>
      <li><a href="#">Khadija work with Jasman to complete data share "Supplier" journey</li>
      <li><a href="#">Khadija improves data with linter "Supplier" journey</li>
      <li><a href="#">Khadija adds her data-resource to data catalog "Supplier" journey</li>
    </ul>
     -->

    <!-- include "govuk-prototype-kit/includes/homepage-bottom.njk" -->

  </div>
</div>

{% endblock %}
