{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Data Marketplace
    </h1>

<!--     <h2 class="govuk-heading-l">
      Beta MVP
    </h2>

    <h3 class="govuk-heading-m">Iteration 1</h3>

    <ul class="govuk-list govuk-list--number govuk-list--spaced">
      <li><a href="/beta-mvp/1/acquirer/">Acquirer journey</a></li>
      <li><a href="/beta-mvp/1/supplier/">Supplier journey</a></li>
      <li><a href="/beta-mvp/1/manage-shares/">Manage data share requests</a></li>
    </ul> 

    <h3 class="govuk-heading-m">Iteration 0</h3> -->

    <ul class="govuk-list govuk-list--number govuk-list--spaced">
      <li><a href="/start">Acquirer journey</a></li>
      <li><a href="/request/">Request journey</a></li>
      <li><a href="/start">Publisher journey</a></li>
      <li><a href="/supplier/">Supplier journey</a></li>
      <li><a href="/manage-shares/">Manage data share requests</a></li>
      
    </ul>  

  </div>
</div>

{% endblock %}
