{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Design a data share
    </h1>
    
    <p class="govuk-body">Work in progress user journeys:</p>
    

    <h3 class="govuk-heading-m">
      Current versions
    </h3>    

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/khadija-authenticated/000-email">Khadija authenticated "wizard" journey</a></li>
      <!-- li><a href="/jasman-authenticated/gdx-home_alt1">Jasman authenticated "wizard" journey</a></li -->
      <li><a href="/gdx-home_alt2">Public facing portal</li>
    </ul>


    
    <h3 class="govuk-heading-m">
      Older versions
    </h3>
    

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/jasman/000-start">Jasman end-to-end "Acquirer" journey</li>
      <li><a href="/gdx-home_alt1">Destination page - alternative journey 1</li>
      <li><a href="#">Khadija work with Jasman to complete data share "Supplier" journey</li>
      <li><a href="#">Khadija improves data with linter "Supplier" journey</li>
      <li><a href="#">Khadija adds her data-resource to data catalog "Supplier" journey</li>
    </ul>
    

    <!-- include "govuk-prototype-kit/includes/homepage-bottom.njk" -->

  </div>
</div>

{% endblock %}
