{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="skip-target">
    <span class="govuk-caption-l">Request a data share</span>
    <h1 class="govuk-heading-l">Describe the dataset you are requesting to share</h1>

    <form action="/name-owner-nocat" method="POST" id="loginForm">

<div class="govuk-form-group">
  
        {{ xGovukAutocomplete({
          id: "country",
          name: "country",
          allowEmpty: false,
          label: {
            classes: "govuk-label--m",
            isPageHeading: true,
            text: "Which department owns the data?"
          },
          hint: {
            test: "For example, Department for Education"
          },
items: [
  { text: "Attorney General's Office" },
  { text: "Cabinet Office" },
  { text: "Department for Business, Energy & Industrial Strategy" },
  { text: "Department for Digital, Culture, Media & Sport" },
  { text: "Department for Education" },
  { text: "Department for Environment, Food & Rural Affairs" },
  { text: "Department for Exiting the European Union" },
  { text: "Department for International Development" },
  { text: "Department for International Trade" },
  { text: "Department for Transport" },
  { text: "Department for Work and Pensions" },
  { text: "Department of Health and Social Care" },
  { text: "Foreign, Commonwealth & Development Office" },
  { text: "HM Treasury" },
  { text: "Home Office" },
  { text: "Ministry of Defence" },
  { text: "Ministry of Housing, Communities & Local Government" },
  { text: "Ministry of Justice" },
  { text: "Northern Ireland Office" },
  { text: "Office of the Advocate General for Scotland" },
  { text: "Office of the Leader of the House of Commons" },
  { text: "Office of the Leader of the House of Lords" },
  { text: "Scotland Office" },
  { text: "Wales Office" },
  { text: "Bank of England" },
  { text: "Charity Commission for England and Wales" },
  { text: "Competition and Markets Authority" },
  { text: "Crown Prosecution Service" },
  { text: "Food Standards Agency" },
  { text: "Forestry Commission" },
  { text: "Government Actuary's Department" },
  { text: "Government Legal Department" },
  { text: "Her Majesty's Revenue and Customs" },
  { text: "Her Majesty's Land Registry" },
  { text: "National Crime Agency" },
  { text: "National Savings and Investments" },
  { text: "Office for Standards in Education, Children's Services and Skills" },
  { text: "Office of Gas and Electricity Markets" },
  { text: "Office of Qualifications and Examinations Regulation" },
  { text: "Office of Rail and Road" },
  { text: "Ordnance Survey" },
  { text: "Serious Fraud Office" },
  { text: "Supreme Court of the United Kingdom" },
  { text: "The National Archives" },
  { text: "UK Statistics Authority" },
  { text: "Water Services Regulation Authority" }
]
        }) }}


</div>




<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="event-name">
      Name or ID of the dataset?
    </label>
  </h2>
  <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="event-name" type="text">
</div>

<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="more-detail">
      Short description
    </label>
  </h2>
  <div id="more-detail-hint" class="govuk-hint">
    Please keep this description under 120 words.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        What data-points does the set include?
      </h2>
    </legend>
    <!--div id="passport-issued-hint" class="govuk-hint">
      For example, 27 3 2007
    </div -->
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Key
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label">
            Description
          </label>
          <input class="govuk-input govuk-!-width-three-quarters" type="text">
        </div>
      </div>
    </div>
  </fieldset>
</div>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Add another key / description?
      </h2>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

      <button type="submit" id="continue" class="govuk-button">Continue</button>
    </form>



 </div>
</div>


{% endblock %}
