{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Service name goes here x
      </h1>





<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- quill loads correctly on this div -->

<div class="qWrapper">
  <div id="xx">
    Text from div xx
  </div>
</div>

<hr>

<!-- but NOT on these -->

<div id="aa">Text from div aa</div>

<button onclick="edit('aa')">edit aa</button>
<button onclick="cancel('aa')">cancel aa</button>
<button onclick="save('aa')">save aa</button>

<hr>

<div id="bb">Text from div bb</div>

<button onclick="edit('bb')">edit bb</button>
<button onclick="cancel('bb')">cancel bb</button>
<button onclick="save('bb')">save bb</button>

<hr>

<div id="cc">Text from div cc</div>

<button onclick="edit('cc')">edit cc</button>
<button onclick="cancel('cc')">cancel cc</button>
<button onclick="save('cc')">save cc</button>

<hr>

<div id="dd">Text from div dd</div>

<button onclick="edit('dd')">edit dd</button>
<button onclick="cancel('dd')">cancel dd</button>
<button onclick="save('dd')">save dd</button>


<script type="text/javascript">
  // Initialize Quill editor on the referenced element
  var quill = new Quill('#xx', {
    theme: 'snow'
  });
</script>


<script type="text/javascript">
  
// Declare a global variable to store cancelBuffer values for each div
var cancelBufferMap = {};

function edit(id) {
  // Get the referenced element
  var element = document.getElementById(id);

  // Check if the referenced element is the first-child of an element with class="qWrapper"
  if (element.parentElement.classList.contains("qWrapper")) {
    // There is already an editor
    return;
  } else {
    // No editor exists so store div contents for later and initialise quill
    cancelBufferMap[id] = element.innerHTML;

    // Create a new parent for the referenced element
    var wrapper = document.createElement("div");
    wrapper.classList.add("qWrapper");
    element.parentNode.insertBefore(wrapper, element);
    wrapper.appendChild(element);

    // Initialize Quill editor on the referenced element
    var quill = new Quill(element, {
      theme: 'snow'
    });
  }
}

function save(id) {
  // Get the referenced element
  var element = document.getElementById(id);

  // Check if the referenced element is a child of an element with class="qWrapper"
  if (element.parentElement.classList.contains("qWrapper")) {
    // d3 has an editor instance live so we store the latest edits before closing
    var quill = element.parentElement.querySelector(".ql-editor");
    var saveBuffer = quill.innerHTML;

    // Create a div id="tempDiv"
    var tempDiv = document.createElement("div");
    tempDiv.id = "tempDiv";

    // Replace the div class="qWrapper" (and all its children) with div #tempDiv
    element.parentElement.parentNode.insertBefore(tempDiv, element.parentElement);
    tempDiv.appendChild(element.parentElement);

    // Then change the id of this div from "tempDiv" to the referenced element passed to the function
    element.id = id;

    // The div now contains the latest version of the contents of the editor
    element.innerHTML = saveBuffer;
  } else {
    // There is no editor instance
    return;
  }
}

function cancel(id) {
  // Get the referenced element
  var element = document.getElementById(id);

  // Check if the referenced element is a child of an element with class="qWrapper"
  if (element.parentElement.classList.contains("qWrapper")) {
    // d3 has an editor instance live

    // Create a div id="tempDiv"
    var tempDiv = document.createElement("div");
    tempDiv.id = "tempDiv";

    // Replace the div class="qWrapper" (and all its children) with div #tempDiv
    element.parentElement.parentNode.insertBefore(tempDiv, element.parentElement);
    tempDiv.appendChild(element.parentElement);

    // Then change the id of this div from "tempDiv" to the referenced element passed to the function
    element.id = id;

    // The div now contains the version of the contents of the editor
    // when the editor was first instantiated
    element.innerHTML = cancelBufferMap[id];
  } else {
    // There is no editor instance
    return;
  }
}


</script>





    </div>
  </div>

{% endblock %}


