{% extends "layouts/main.html" %}

{% block pageTitle %}
   – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/jasman/030-purpose-check-answers" method="post">

        <div class="govuk-form-group">
          <span class="govuk-caption-l">Define the purpose of your data share</span>
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
              How will it impact your project if you don't get this data?
            </label>
          </h1>
  
          <div id="more-detail-hint" class="govuk-hint">
            What elements of your service delivery will be blocked? Which functions may not be delivered. What citizen-benefits will not be produced?
          </div>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>


        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>


    </div>
  </div>











{% endblock %}
