{% extends "layouts/main.html" %}

{% block pageTitle %}
  Review your answers – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
      Review your answers</h1>

      <h2 class="govuk-heading-m">Define the purpose of your data share</h2>



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
Whose data do you need?
          </dt>
          <dd class="govuk-summary-list__value">
            xxx
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> problem</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
Will your project benefit this group directly?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, it will benefit 'clinically extremely vulnerable patients'.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the problem you are trying to solve?
          </dt>
          <dd class="govuk-summary-list__value">
foo
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p>07700 900457</p>
            <p>sarah.phillips@example.com</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
What do you hope to achieve with your project?
          </dt>
          <dd class="govuk-summary-list__value">
            lorem bacon
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
How will this [insert data set] set help you achieve this?
          </dt>
          <dd class="govuk-summary-list__value">
            tbc foo
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What public benefit will your project provide?
          </dt>
          <dd class="govuk-summary-list__value">
            Evidence for public service delivery
            <br>Evidence for decisions which are likely to benefit people in the UK
            <br>Evidence for decisions about how to allocate and evaluate funding
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How will it impact your project if you don't get this data?
          </dt>
          <dd class="govuk-summary-list__value">
            xxx
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> negative impact</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Save your work as you go</h2>

      <p>If your team is confident you've got the purpose right, you should save these answers and move on the next phase of your data sharing request, the legal gateway status.</p>
      <p>
      Your answers will be saved in the account you set up.</p>

      <form action="/jasman/000-start" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          <a class="govuk-link" href="#">Save on Gdrive account</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
