{% extends "layouts/main.html" %}

{% block pageTitle %}
   – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/jasman/030-purpose-b" method="post">

        <div class="govuk-form-group">
          <span class="govuk-caption-l">Define the purpose of your data share</span>
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
              Whose data do you need?
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            Be as specific as possible. For example: 'clinically extremely vulnerable patients'.
          </div>
          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>


    </div>
  </div>












{% endblock %}
