{% extends "layouts/main.html" %}

{% block pageTitle %}
  Data shares – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/account-header.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<style type="text/css">
div {border:0px solid green;}
.govuk-grid-row {border:0px solid red;}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">In progress agreements</span>
    <h1 class="govuk-heading-l">
      Memorandum of understanding regarding data sharing
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<!-- Create the editor container -->
<div id="editor">
  <p>Hello World!</p>
  <p>Some initial <strong>bold</strong> text</p>
  <p><br></p>
</div>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
</script>




    <h2 class="govuk-heading-m">
    Department for business, energy and industrial strategy and ministry for housing, communities and local government
    </h2>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/mou-edits.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
    THIS AGREEMENT is made the 27 October 2020</p>
    <p>
    BETWEEN</p>
    <p>
    1) DEPARTMENT FOR BUSINESS, ENERGY AND INDUSTRIAL STRATEGY of 1 Victoria Street, London, SW1H 0ET (“BEIS”)
    <br>
    and
    <br>
    2) THE MINISTRY FOR HOUSING, COMMUNITIES AND LOCAL GOVERNMENT of 2 Marsham
    Street, London, SW1P 4DF (“MHCLG”)
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/mou-edits.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Background context
    </h2>
    <p>
    The English Housing Survey (EHS) is a national survey of people's housing circumstances and the condition and energy efficiency of housing in England. MHCLG and BEIS jointly fund the survey and both departments use the data for policy development, producing National Statistics (the English Housing Survey Headline and Annual Reports and Fuel Poverty Statistics) and for feeding into a range of work streams such as Experimental Statistics on leasehold dwellings, housing and fuel poverty measures of the Race Disparity Audit, the National Household Model, the National Energy Efficiency Data Framework etc.</p>
    <p>
    The collection and processing of the EHS data are carried out by external contractors. MHCLG is responsible for the day-to-day management of that process and for delivering each year’s signed off data to BEIS.</p>
    <p>
    BEIS and MHCLG will each be responsible for compliance with the Data Protection Principles under the EU General Data Protection Regulation (GDPR), the Data Protection Act 2018 (DPA 2018) and Article 8 of the European Convention on Human Rights in relation to the Data. This Agreement exists to set out the procedures that the departments will follow and provide a framework for compliance with the disclosure constraints set out in the Pre-release Access to Official Statistics Order 2008, the Data Protection Principles and the Information Commissioner’s Code of Practice on Data Sharing.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/mou-edits.html" %}
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
    Summary of agreement:
    </h2>
    <p>
    (A) This Agreement between the Ministry of Housing, Communities and Local Government (MHCLG) and the Department for Business Energy and Industrial Strategy (BEIS) sets out the procedures that will be followed and the safeguards that have been put in place to ensure that the data shared between the two organisations, referred to below, complies with: (i) the GDPR and any applicable national implementing laws as amended from time to time; (ii) the DPA 2018to the extent that it relates to processing of personal data and privacy; (iii) all applicable law about the processing of personal data and privacy. This agreement will be placed in the public domain.<p>
    <p>
    (B) More specifically, this Agreement sets out the arrangements that both parties, and their agents, have agreed to implement in order to ensure that the data shared between them pursuant to this agreement:
    • are kept secure;
    • are used only for research or statistical purposes;
    • are not disseminated or published in any way that might reveal private information
    relating to identifiable individuals; and
    • are not prematurely released before their pre-announced publication date.</p>
    <p>
    (C) The agreement will be reviewed every two years, or sooner where substantial revisions are required, or in the event of a breach. The next review point will be in September 2022.</p>
    <p>
    (D) This MOU is not intended to be legally binding. IT IS NOW AGREED as follows:</p>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/mou-edits.html" %}
  </div>
</div>





1. DEFINITIONS AND INTERPRETATION
1.1. In this Agreement the following words and phrases shall have the following meanings, unless expressly stated to the contrary:
“Authorised Representatives” means the nominated lead officer representing each of the parties with delegated authority to handle the day-to-day matters arising from this Agreement;
“Data” means all data collected for this Project.
“Data Controller” has the meaning in Article 4(7) of the GDPR. “Data Processor” has the meaning in Article 4(8) of the GDPR.
“Data Protection Legislation” means the Data Protection Act 2018 and all applicable laws and regulations relating to the processing of personal data and privacy, including where applicable the guidance and codes of practice issued by the Information Commissioner. It includes the EU General Data Protection Regulation (GDPR).
“FOIA” means the Freedom of Information Act 2000, as amended; “GDPR” means the EU General Data Protection Regulation
“Parties” means the parties to this Agreement, namely BEIS and MHCLG; “Personal Data” has the meaning in Article 4(1) of the GDPR;
“Project” means the English Housing Survey; “Processing” has the meaning in Article 4(2) of the GDPR;
“Request for Information” means a request for information or a request under FOIA or the Environmental Information Regulations.
-2-

Memorandum of Understanding
1.2. In this Agreement:
a) themasculineincludesthefeminineandneuter;
b) person means a natural person;
c) the singular includes the plural and vice versa;
d) areferencetoanystatute,enactment,order,regulationorothersimilarinstrument
shall be construed as a reference to the statute, enactment, order, regulation or instrument as amended by any subsequent statute, enactment, order, regulation or instrument or as contained in any subsequent re-enactment.
1.3. Headings are included in this Agreement for ease of reference only and shall not affect the interpretation or construction of this Agreement.
1.4. References in this Agreement to Clauses, Paragraphs and Annexes are, unless otherwise provided, references to the Clauses, Paragraphs and Annexes of this Agreement.
1.5. In the event and to the extent only of any conflict or inconsistency between the provisions of this Agreement and the provisions of any document referred to or referenced herein, the provisions of this Agreement shall prevail.
2. COMMENCEMENT AND TERM
2.1. This Agreement supersedes all other agreements in respect of this Project.
2.2. This Agreement shall commence upon signature by the Parties and will be reviewed every two years, or sooner where substantial revisions are required, or in the event of a breach. The next review point will be in September 2022.
2.3. The Parties may, by mutual consent in writing, agree to extend or amend this Agreement for a period of time to be agreed between them.
3. PURPOSE AND SCOPE OF PROJECT
3.1. The aim of this Project is to collect data on the housing circumstances of people in England as well as the condition and energy efficiency of their home for MHCLG, BEIS, other government departments and the wider research community to develop policy, and to produce National Statistics and other statistical/analytical outputs.
3.2. Data sharing for the purpose of this Project will enable BEIS to use the data of the EHS in combination with other sources or on their own to produce Fuel Poverty or other statistical outputs. That will improve the department’s evidence base significantly.
-3-

Memorandum of Understanding
4. LAWFUL BASIS OF PROCESSING
4.1. The lawful basis for processing the data is the performance of a task in the public interest. That basis is set out in the privacy notice sent to survey respondents before they take part in the EHS. The privacy notice also mentions that the data are shared with BEIS and specifies that individual survey participants have the right to request that their data be amended if the data are inaccurate. The privacy notice contains names, addresses and telephone numbers for participants to contact the survey team.
5. USE OF THE DATA WITHIN BEIS
5.1. There are three types of routine EHS data access and usage required by BEIS and to which this agreement applies:
(i) Extended pre-release access to the research version1 of EHS data for the purposes of producing complementary BEIS statistics publications, not released before the first MHCLG EHS publication.
(ii) Access to and usage of names, addresses, postcodes and geographical and address identifiers, including the Unique Property Reference Number (UPRN). These data are not published and will remain unpublished. The names, address, postcodes and UPRN information is used for linking the EHS data to other datasets and, where required, for obtaining consent to the data linkage projects including work carried out by the Smart Meter Research Lab. Address information is also used for sub-regional model development. Names, address, postcodes and geographical and address identifier information used for data linking is only used with the consent of respondents.
(iii) Use of the research version of EHS data or the version MHCLG deposits in the UK Data Archive for analysis and research in BEIS, or by contractors on behalf of BEIS. These data are also the basis for several BEIS models and statistical tools.
5.2. BEIS needs, and MHCLG will provide in accordance with this agreement, access to research versions of the EHS data (including address information and consent flags) and the versions MHCLG deposits in the UK Data Archive for a number of purposes, including:
(i) to produce the annual National Statistics on the number of households in Fuel Poverty (including any development and research work carried out by BEIS or its contractors);
(ii) to produce local area estimates of fuel poverty, regularly used by Local Authorities, key stakeholders, charities and academics (this work requires address information and data linking at the household level);
(iii) to match EHS data to actual energy consumption data, and other surveys within BEIS;
(iv) to match fuel poverty data using EHS address information at the household level with other Government datasets for research and development purposes. MOUs must be in place for each individual project and address information must be deleted from non BEIS systems once data linkage has been completed;
(v) to produce energy consumption statistics for the UK housing stock;
1 Research version of the EHS data refers to the full data without any top-coding applied to it.
 -4-

Memorandum of Understanding
(vi) to link smart meter data with EHS data for research and policy analysis purposes;
(vii) to generate tools for wider research and policy analysis purposes;
(viii) to simulate domestic energy consumption and carbon emissions under a
number of future scenarios, to assess impacts of future policies;
(ix) to feed into various models, such as the National Household Model;
(x) more generally, to develop the evidence base on household’s energy consumption and behaviour, and the impact of energy efficiency measures installed in the house;
(xi) in order to re-contact people for follow-up work, where households have consented to this.
5.3. A list of all the data files and variables required by BEIS, and the timetable for data sharing is provided in Annex A. MHCLG will inform BEIS of any changes to the data or variable structure of individual files, either prior to, or at the point of transfer, to ensure adequate BEIS have adequate time to update processing systems.
6. TERMS OF DATA SHARING
6.1. BEIS will become a data controller of the version held within BEIS, once they receive the specified EHS dataset from MHCLG. This will apply to the research version of the EHS data MHCLG provides BEIS for the purposes of producing complementary BEIS statistics publications as well as the Special License EHS and End User License EHS data MHCLG deposits at the UK Data Archive. BEIS will inform MHCLG whenever it shares its version of the three data sets above outside the department.
6.2. Both parties will comply with the requirements set out in the Pre-release Access to Official Statistics Order 2008.
6.3. Both parties will deal with personal data in a manner which is compliant with:
(i) the Data Protection Act 2018 and all applicable laws and regulations relating to the processing of personal data and privacy, including where applicable, the guidance and codes of practice issued by the Information Commissioner. It includes the EU General Data Protection Regulation – GDPR (see Annex B).
(ii) the guidance from the ICO (see Annex B).
6.4. In the unlikely event that the MHCLG's first release of data is delayed to the point where it may affect BEIS’ publication schedule, MHCLG and BEIS will negotiate a revised publication timetable.
6.5. BEIS will implement the following procedures to safeguard the EHS data once received:
(i) All datasets will be transferred directly between BEIS and MHCLG in either SPSS or Excel format. They will be sent, password protected, from official departmental email accounts or using Egress Switch encryption, Secure Shell File Transfer Protocol (SFTP) or restricted folders in Sharepoint.
(ii) All data will be stored on a secure network drive in BEIS. Access to this will be restricted to authorised staff in BEIS.
-5-

Memorandum of Understanding
(iii) BEISuserswillberequiredtocompleteauseraccessrequestdetailingthe specific datasets (and for which year/s) they require and provide a valid business reason for its use.
(iv) BEISuserswillbeauthorisedbytheHeadofEnergyStatisticsinBEIS(whoisalso the Senior Responsible Officer (SRO)), or their nominated deputy. The SRO will maintain a list of authorised users in BEIS.
(v) The SRO will ensure that the authorised staff, know, understand and guarantee to maintain the confidentiality and disclosure requirements outlined in this agreement.
(vi) BEISwillreceivefulladdressdatawithflagsindicatingthehouseholdswhohave consented to data matching or re-contact for a follow-up study. To safeguard the addresses data, MHCLG will send the address information in a stand-alone password protected file separate from the other EHS datasets. The stand-alone address file will contain only the EHS unique case identifier (aacode) plus all the address fields (including the postcode).
(vii) The address data will be stored in a stand-alone file separate from the other EHS datasets.
(viii) BEIS users will require separate authorisation from the Grade 7 Fuel Poverty Statistics lead to access the address information. The G7 BEIS lead will maintain a list of authorised users of the address information.
6.6. The results of any analysis will only be published in aggregate tables. Tables that contain very small sample numbers in some cells may be disclosive. In the event of publishing findings, BEIS will ensure that tables do not report numbers or percentages that are disclosive.
6.7. The data will be retained by BEIS, and the need for further retention will be reviewed on an annual basis. Once MHCLG has transferred the specified files to BEIS, MHCLG is under no obligation to retain a copy and resend the files at a later date. BEIS will have responsibility for backing up of the received datasets.
6.8. BEIS will ensure its contractors comply with the following conditions, and do so in compliance with Data Protection Legislation as defined in Section 1.1. and Code of Practice for Official Statistics:
(i) maintain the security of the EHS datasets;
(ii) do not use the pre-release, or any EHS data, apart from to fulfil its contractual
obligations;
(iii) nottouseaccesstotheEHSforpersonalorcommercialadvantage.
6.9. MHCLG will continue to include appropriate consent questions in the main survey, as required by BEIS, to provide for the uses covered in this agreement. MHCLG will also consult with BEIS on an annual basis to ensure any documentation provided to participants meets their requirements.
6.10. Bothpartieswillendeavourtomeetanyadhocworkrequestsoutsideofthis agreement, negotiating the arrangements when these requests are received.
-6-

Memorandum of Understanding
6.11. MHCLGwillbeprovided(uponrequest)withtheresearchversionofthefuelpoverty datasets for internal analysis and research purposes. This data are not to be circulated for wider use beyond MHCLGs analytical team.
-7-

Memorandum of Understanding
7. REPRESENTATIVES
7.1. BEIS and MHCLG will each appoint a Senior Responsible Officer and an authorised representative to be the primary point of contact in all matters relating to this Agreement:
For BEIS:
The Senior Responsible officer will be the Head of Energy Statistics and the authorised representative will be the Grade 7 analyst in the Fuel Poverty statistics team.
For MHCLG:
The Senior Responsible officer will be the Project Director of the English Housing Survey and the authorised representatives will be Grade 7 analyst responsible for contract management in the English Housing Survey (EHS) team.
7.2. The Parties agree that the agreement will be reviewed biennially, with the next review in August 2021, unless substantive revisions are required before this time. Nominated representatives from both departments will meet at the minimum annually to discuss any issues and uses of the data.
8. FREEDOM OF INFORMATION
8.1. The Parties are both subject to the provisions of Freedom of Information Act and the Environmental Information Regulations and shall assist and co-operate with each other to enable each other to comply with their respective statutory duties in relation to Requests for Information. In particular, where a Party receives a Request for Information pertaining to the subject matter or operation of this Agreement, it shall, as soon as practicable, notify the other Party’s nominated representative, in writing, of the details of the information requested, the date such Request was made and, if permitted by law, the name of the person making the Request. The Party which has received the Request shall, prior to responding to the applicant, consult with the other Party and to facilitate such consultation shall provide it with a copy of all information which it proposes to disclose not less than 5 working days before disclosure.
9 LOSS AND UNAUTHORISED RELEASE
9.1. BEIS and its contractors commissioned to carried out any of the work listed in Paragraph 5.2 will report to all parties any loss or unauthorised release of the data, as soon as possible, or no later than 24 hours after the loss or unauthorised release.
9.2. Any loss or unauthorised release of the data by the Parties will need to be investigated jointly by all parties. Existing departmental data incident processes and reporting will be utilised.
10 TERMINATION
10.1. Anydisputearisingfromabreachofthetermsofthisagreementwill,inthefirst instance, be addressed by immediate discussions between the respective Senior Responsible Officers and their colleagues. Termination of the agreement will be
  -8-

Memorandum of Understanding
considered only as a last resort, and will require the relevant party to give one month's written notice of their intention to terminate.
10.2. AnydisputesarisingconcerningthisAgreementwillberesolvedinitiallyby discussions between the Parties.
11 STATUTORY COMPLIANCE
11.1. ThePartiesshallcomplywithallrelevantlegislation,regulations,orders,statutory instruments as amended or re-enacted in relation to the subject matter of this agreement.
SIGNED for and on behalf of
THE SECRETARY OF STATE
FOR BUSINESS, ENERGY AND INDUSTRIAL STRATEGY By:
signature withheld from internet version _________________________________________________ Name: JaneChandler
Title: Head of Energy and Climate Change Statistics Date: 13th October 2020
SIGNED for and on behalf of
THE SECRETARY OF STATE
FOR HOUSING, COMMUNITIES AND LOCAL GOVERNMENT By:
signature withheld from internet version _________________________________________________ Name: ScottDennison
Title: Deputy Director, Housing and Planning Analysis Division
Date: 27 October 2020
-9-

Memorandum of Understanding
- 10 -

Memorandum of Understanding
ANNEX A – EHS DATA REQUIREMENTS
See separate Excel workbook
ANNEX B – References
1. Data Protection Act 2018
http://www.legislation.gov.uk/ukpga/2018/12/contents/enacted
2. General Data Protection Regulation 2016
https://gdpr-info.eu/
3. Pre-release Access to Official Statistics Order 2008
http://www.legislation.gov.uk/uksi/2008/2998/contents/made
4. Information Commissioner Code of Practice on Data Sharing
http://www.ico.gov.uk/for_organisations/data_protection/topic_guides/data_sharing.aspx
4. Code of Practice for Official Statistics
http://www.statisticsauthority.gov.uk/assessment/code-of-practice/index.html
5. National Statistician's Guidance: Confidentiality of Official Statistics
http://www.statisticsauthority.gov.uk/national-statistician/ns-reports--reviews-and- guidance/national-statistician-s-guidance/index.html
       - 11 -





{% endblock %}

