{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
    {{ govukHeader({
      homepageUrl: "/WIP/",
      serviceName: serviceName,
      serviceUrl: "/WIP/start?loggedin=true",
      containerClasses: "govuk-width-container"
    }) }}
    {% include "includes/WIP_mvp-nav_sign-out.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-l">Your data shares</span> -->
      <h1 class="govuk-heading-xl">Manage data share requests</h1>
<!--       <p>
        If you've received a request for your department's data, or have started writing a request for data, these in progress arrangements are listed here. Completed and active requests are listed below. 
      </p> -->
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Received requests</h2>
      <p>View current and completed requests which are managed by your department.</p>
      <p><a href="/bMVP--review-permission" class="govuk-link">View received requests</a></p>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Created requests</h2>
      <p>View pending, submitted and completed requests to access data owned by others.</p>
      <p><a href="created-requests" class="govuk-link">View created requests</a></p>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}

{% endblock %}

